﻿@using System.Text
@using Onactuate.Common.Configuration.ConfigSettings.ConfigEnvironment
@using Onactuate.Common.Configuration.Lektor
@using Onactuate.EnvironmentConfig.Web.App_Helpers
@using Onactuate.Webportal.Domain.Model
@model IList<ApplicationPermissions>

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h3 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-lock txt-color-blue"></i>Permissions
                <span>
                    >
                    <i class="fa fa-fw fa-shield"></i>Application
                </span>
            </h3>
        </div>
    </div>

    <div id="inbox-content" class="inbox-body no-content-padding">

        <div class="inbox-side-bar">

            <h6> Filters <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>

            <ul class="inbox-menu-lg">
                <li class="active">
                    @*<a class="inbox-load" href="javascript:void(0);">All Users ()</a>*@
                </li>
            </ul>

        </div>

        <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
            <section id="widget-grid">
                <!-- row -->
                <div class="no-content-padding">
                    <!-- NEW WIDGET START -->
                    <br />

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="width: 650px">
                            @Html.ValidationBootstrap()
                        </div>
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
        </div>
    </div>

</div>

@section pagespecific {
    <script type="text/javascript">


        function ChangeUserPermissions(userId, permission) {
            var act = "@Url.Action("ChangeUserPermissions", "Admin", new {Area = "EnvConfig"})";
            $.post(act, { userId: userId })
                .done(function(data) {
                    location.reload();
                });
        }

        function SubmitSavePermissionForm() {
            //alert("seen");
            var act = "@Url.Action("SaveNewPermission", "Admin", new {Area = "EnvConfig"})";
            var username = $("#username").val();
            var password = $("#password").val();
            var permtype = $("#PermissionType").val();

            $.post(act, { username: username, permissionType: permtype, password: password })
                .done(function(data) {
                    location.reload();
                });

            return true;
        }

        function DeleteApplicationPermission(permId) {
            //alert(permId);
            var act = "@Url.Action("DeleteUserPermission", "Admin", new {Area = "EnvConfig"})";
            $.post(act, { permissionId: permId })
                .done(function(data) {
                    location.reload();
                });

        }

        $(document).ready(function() {
            pageSetUp();

            var jqgrid_data = [
                @{
                    if (@Model != null)
                    {
                        int ctr = 0;
                        string currentUser = Session["UserIdentity"].ToString();
                        bool isAllowedAccessWithDelegation = false;
                        foreach (ApplicationPermissions perm in @Model)
                        {
                            if (perm.UserName.Equals(currentUser, StringComparison.OrdinalIgnoreCase) && perm.PermissionTypeId.Equals(0))
                            {
                                isAllowedAccessWithDelegation = true;
                                break;
                            }
                        }
                        string environmentName = EnvironmentSection.GetEnvironmentName;

                        foreach (ApplicationPermissions perm in @Model)
                        {
                            bool isCurrentUser = perm.UserName.Equals(currentUser, StringComparison.OrdinalIgnoreCase);

                            string imgPath = string.Empty;
                            string commentsLink = string.Format("<input type='checkbox'>");
                            string decryptedPassword = EncryptionHelper.DecryptData(EncryptionHelper.GetBytes(perm.Password), environmentName);
                            StringBuilder passwordLink = new StringBuilder();
                            passwordLink.AppendFormat("<table style='border-collapse:collapse; width:250px'>");
                            passwordLink.AppendFormat("<tr>");
                            passwordLink.AppendFormat("<td>{0}</td>", perm.Password);
                            passwordLink.AppendFormat("<td><span style='cursor:pointer' title='{0}'><i class='fa fa-eye txt-color-blue'></i></span></td>", decryptedPassword);
                            passwordLink.AppendFormat("</tr>");
                            passwordLink.AppendFormat("</table>");

                            StringBuilder permissions = new StringBuilder();
                            string permissionString = string.Empty;
                            string permissionStringIfAllowedWithDelegation = string.Empty;

                            switch (perm.PermissionTypeId)
                            {
                                case 0:
                                    imgPath = VirtualPathUtility.ToAbsolute("~/Content/Img/Images/AuthMon/AllowForDelegation.bmp");
                                    permissionStringIfAllowedWithDelegation = string.Format("&nbsp;<a href='#' onclick=ChangeUserPermissions('{1}','Allow')><img style='vertical-align:middle;cursor:pointer' title='Allowed for Delegation' src='{0}'></a> Allowed for Delegation", imgPath, perm.PermissionId);
                                    permissionString = string.Format("&nbsp;<img style='vertical-align:middle;' title='Allowed for Delegation' src='{0}'> Allowed for Delegation", imgPath);
                                    break;
                                case 1:
                                    imgPath = VirtualPathUtility.ToAbsolute("~/Content/Img/Images/AuthMon/Allow.bmp");
                                    permissionStringIfAllowedWithDelegation = string.Format("&nbsp;<a href='#' onclick=ChangeUserPermissions('{1}','Deny')><img style='vertical-align:middle;cursor:pointer' title='Allowed Access' src='{0}'></a> Allowed Access", imgPath, perm.PermissionId);
                                    permissionString = string.Format("&nbsp;<img style='vertical-align:middle;' title='Allowed Access' src='{0}'> Allowed Access", imgPath);
                                    break;
                                case 2:
                                    imgPath = VirtualPathUtility.ToAbsolute("~/Content/Img/Images/AuthMon/Deny.bmp");
                                    permissionStringIfAllowedWithDelegation = string.Format("&nbsp;<a href='#' onclick=ChangeUserPermissions('{1}','AllowWithDelegation')><img style='vertical-align:middle;cursor:pointer' title='Denied Access' src='{0}'></a> Denied Access", imgPath, perm.PermissionId);
                                    permissionString = string.Format("&nbsp;<img style='vertical-align:middle;' title='Denied Access' src='{0}'> Denied Access", imgPath);
                                    break;
                            }
                            permissions.AppendFormat(isAllowedAccessWithDelegation && !isCurrentUser ? permissionStringIfAllowedWithDelegation : permissionString);

                            StringBuilder actions = new StringBuilder();
                            string editImage = Url.Content("~/content/img/images/famfamfam_icons/table_edit.png");
                            string deleteImage = Url.Content("~/content/img/images/famfamfam_icons/table_delete.png");
                            if (perm.IsDeletable && !isCurrentUser)
                            {
                                // User can be deleted & but not edited
                                actions.AppendFormat("<img title='Delete User' style='cursor:pointer' onclick='javascript:DeleteApplicationPermission({1})' src='{0}'>&nbsp;", deleteImage, perm.PermissionId);
                            }
                            else
                            {
                                // User cannot be deleted but can be edited
                                actions.AppendFormat("<img disabled title='Cannot Delete User' src='{0}'>&nbsp;", deleteImage);
                            }

                            @Html.Raw("{")
                            @Html.Raw("\n")
                            @Html.Raw("    Username: \"" + perm.UserName + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Password: \"" + passwordLink.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Permissions: \" " + permissions.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \" " + actions.ToString() + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")
                        }

                        // Check if user can be added
                        if (isAllowedAccessWithDelegation)
                        {
                            // Username
                            string savePermissionUrl = Url.Action("SaveNewPermission", "Admin");
                            StringBuilder uName = new StringBuilder();
                            uName.AppendFormat("<form action='{0}' id='SavePermissionForm' method='Post'>", savePermissionUrl);
                            uName.AppendFormat("<input type='text' name='username' id='username' style='width:250px' required>");

                            // Password
                            StringBuilder password = new StringBuilder();
                            password.AppendFormat("<input type='password' name='password' id='password' style='width:250px' required>");


                            // Permissions
                            StringBuilder perms = new StringBuilder();
                            perms.AppendFormat("<select name='PermissionType' id='PermissionType' style='width:250px' required><option value=0>Allow with Delegation</option><option value=1>Allow</option><option value=2>Deny</option></select>");

                            // Actions
                            string addImage = Url.Content("~/content/img/images/famfamfam_icons/table_add.png");
                            StringBuilder addaction = new StringBuilder();
                            addaction.AppendFormat("&nbsp;<img title='Save User' id='SaveUser' onclick='return SubmitSavePermissionForm()' style='cursor:pointer; cursor:hand;' src='{0}'></form>", addImage);

                            @Html.Raw("{")
                            @Html.Raw("\n")
                            @Html.Raw("    Username: \"" + uName.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Password: \"" + password.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Permissions: \"" + perms.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \"" + addaction.ToString() + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")
                        }
                    }
                }
            ];

            jQuery("#jqgrid").jqGrid({
                data: jqgrid_data,
                datatype: "local",
                height: 'auto',
                colNames: ['Username', 'Password', 'Permissions', 'Action'],
                colModel: [
                    {
                        name: 'Username',
                        index: 'Username',
                        width: '280px'
                    },
                    {
                        name: 'Password',
                        index: 'Password',
                        width: '280px'
                    },
                    {
                        name: 'Permissions',
                        index: 'Permissions',
                        width: '280px'
                    },
                    {
                        name: 'Action',
                        index: 'Action',
                        align: "left",
                        width: '125px'
                    }
                ],
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                pager: '#pjqgrid',
                sortname: 'Username',
                viewrecords: true,
                sortorder: "asc",
                caption: "Application Permissions",
                multiselect: false,
                autowidth: false

            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar")
                .children()
                .removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk")
                .removeClass()
                .addClass("fa fa-save")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-success");
            $(".ui-icon.ui-icon-cancel")
                .removeClass()
                .addClass("fa fa-times")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });


    </script>
}
