﻿@using System.Text
@using Onactuate.Common.Configuration.Lektor
@using Onactuate.EnvironmentConfig.Web.App_Helpers
@using Onactuate.EnvironmentConfig.Web.Models
@using Onactuate.Webportal.Domain.Model
@model IEnumerable<EnvironmentPermissionMaster>

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h3 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-lock txt-color-blue"></i>Permissions
                <span>
                    >
                    <i class="fa fa-fw fa-cog"></i>Environment
                </span>
            </h3>
        </div>
    </div>

    <div id="inbox-content" class="inbox-body no-content-padding">

        <div class="inbox-side-bar">

            <h6> Filters <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>

            <ul class="inbox-menu-lg">
                <li class="active">
                    @*<a class="inbox-load" href="javascript:void(0);">All Users ()</a>*@
                </li>
            </ul>

        </div>

        <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
            <section id="widget-grid">
                <!-- row -->
                <div class="no-content-padding">
                    <!-- NEW WIDGET START -->
                    <br />

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="width: 650px">
                            @Html.ValidationBootstrap()
                        </div>
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
        </div>
    </div>
</div>


@section pagespecific {
    <script type="text/javascript">

        function FillUsersList(envId) {
            $("#SelectedUser").empty();
            $('#SelectedUser').append($('<option>',
                {
                    value: '',
                    text: ' -- Select a User -- '
                }));

            if (envId != "") {
                // Get a list of all the users which do not have permission to this environment
                // Also, exclude the current user

                var postUrl = "@Url.Action("GetUserList", "Admin", new {Area = "EnvConfig"})";

                $.ajax({
                    url: postUrl,
                    data: { 'envId': envId },
                    traditional: true,
                    dataType: 'json',
                    type: 'post',
                    success: function(response) {

                        for (var i = 0; i < response.length; i++) {
                            $('#SelectedUser').append($('<option>',
                                {
                                    value: response[i].PermissionId,
                                    text: response[i].UserName
                                }));
                        }
                    }
                });
            }
        }
        
        function SubmitCreatePermission() {
            if ($('#SelectedEnvironment').val() == "") {
                alert("Please select environment");
                return false;
            }
            if ($('#SelectedUser').val() == "") {
                alert("Please select a user");
                return false;
            }

            var envId = $('#SelectedEnvironment').val();
            var permId = $('#SelectedUser').val();
            var chkVal = $("#SelectedIsAdmin:checked").length;
            var isAdmin = false;
            if (chkVal == 1) {
                isAdmin = true;
            }

            var postUrl = "@Url.Action("CreateEnvironmentPermission", "Admin", new { Area = "EnvConfig" })";

            $.ajax({
                url: postUrl,
                data: { 'envId': envId, 'permId': permId, 'isAdmin': isAdmin },
                traditional: true,
                dataType: 'json',
                type: 'post',
                done: location.reload()
            });

            return true;
        }

        function DeleteEnvironmentPermission(permId) {

            var postUrl = "@Url.Action("DeleteEnvironmentPermission", "Admin", new { Area = "EnvConfig" })";

            $.ajax({
                url: postUrl,
                data: { 'permId': permId },
                traditional: true,
                dataType: 'json',
                type: 'post',
                done: location.reload()
            });
        }

        $(document).ready(function() {
            pageSetUp();

            var jqgrid_data = [
                @{
                    if (@Model != null)
                    {
                        int ctr = 0;
                        int permissionId = ((ApplicationPermissions) System.Web.HttpContext.Current.Session["AppPermissionObj"]).PermissionId;

                        foreach (EnvironmentPermissionMaster permission in @Model)
                        {
                            // Col 1:: Environment Name
                            string envImageSrc = Url.Content("~/Content/Img/Images/famfamfam_icons/application_home.png");
                            string envImage = string.Format("<img title ='Edit User' style='vertical-align:middle;cursor:pointer' src='{0}'>", envImageSrc);
                            string environment = string.Format("&nbsp;{0} &nbsp; {1}", envImage, permission.EnvironmentMasterObj.EnvironmentName);

                            // Col 2:: User Name
                            string userImageSrc = permission.IsAdmin
                                ? Url.Content("~/Content/Img/Images/famfamfam_icons/user.png")
                                : Url.Content("~/Content/Img/Images/famfamfam_icons/user_gray.png");
                            string userImage = string.Format("<img title ='Edit User' style='vertical-align:middle;cursor:pointer' src='{0}'>", userImageSrc);
                            string user = string.Format("&nbsp;{0} &nbsp; {1}", userImage, permission.ApplicationPermissionsObj.UserName);

                            // Col 3:: Is Admin?
                            string checkImage = Url.Content("~/content/Img/images/AuthMon/Allow.bmp");
                            string crossImage = Url.Content("~/content/Img/images/AuthMon/Deny.bmp");
                            string permissions = (permission.IsAdmin) ? string.Format("<img src='{0}' />", checkImage) : string.Format("<img src ='{0}' />", crossImage);

                            // Col 4:: Action Buttons
                            // Delete & Edit User Button
                            string deleteImage = Url.Content("~/content/Img/images/famfamfam_icons/table_delete.png");
                            string actionString = string.Empty;
                            if (permissionId != permission.PermissionId)
                            {
                                actionString = string.Format("<img title='Remove Permission' style='vertical-align:middle;cursor:pointer' onclick='javascript:DeleteEnvironmentPermission({0})' src='{1}'>", permission.EnvironmentPermissionId, deleteImage);
                            }


                            @Html.Raw("{")
                            @Html.Raw("\n")
                            @Html.Raw("    EnvironmentName: \"" + environment + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Username: \"" + user + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    IsAdmin: \"" + permissions + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \" " + actionString + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")
                        }

                        if (Model.Any(p => p.IsAdmin && p.PermissionId.Equals(permissionId)))
                        {
                            IEnumerable<EnvironmentPermissionMaster> data = Model.Where(p => p.IsAdmin && p.PermissionId.Equals(permissionId));

                            StringBuilder masterListDropdown = new StringBuilder();
                            masterListDropdown.AppendFormat("<select id='SelectedEnvironment' name='SelectedEnvironment' style='width:400px;height:30px;font-size:14px' onchange='javascript:FillUsersList(this.value)'>");
                            masterListDropdown.AppendFormat("<option value=''> -- Select an Environment -- </option>");
                            foreach (EnvironmentPermissionMaster envPer in data)
                            {
                                masterListDropdown.AppendFormat("<option value='{0}'>{1}</option>", envPer.EnvironmentId, envPer.EnvironmentMasterObj.EnvironmentName);
                            }
                            masterListDropdown.AppendFormat("</select>");

                            StringBuilder userListDropdown = new StringBuilder();
                            userListDropdown.AppendFormat("<select id='SelectedUser' name='SelectedUser' style='width:240px;height:30px;font-size:14px'><option value=''>-- Select a User --</option></select>");

                            string isAdmin = "<input type='checkbox' id='SelectedIsAdmin' name='SelectedIsAdmin' style='height:30px;font-size:14px' />";

                            string addImage = Url.Content("~/content/img/images/famfamfam_icons/table_add.png");
                            StringBuilder addaction = new StringBuilder();
                            addaction.AppendFormat("<img title='Create Permission' id='CreatePermission' onclick='return SubmitCreatePermission()' style='cursor:pointer; cursor:hand;' src='{0}'></form>", addImage);

                            @Html.Raw("{")
                            @Html.Raw("\n")
                            @Html.Raw("    EnvironmentName: \"" + masterListDropdown.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Username: \"" + userListDropdown.ToString() + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    IsAdmin: \"" + isAdmin + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \" " + addaction.ToString() + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")
                        }
                    }
                }
            ];

            jQuery("#jqgrid").jqGrid({
                data: jqgrid_data,
                datatype: "local",
                height: 'auto',
                colNames: ['Environment Name', 'Username', 'Is Admin?', 'Action'],
                colModel: [
                    {
                        name: 'EnvironmentName',
                        index: 'EnvironmentName',
                        width: '400px'
                    },
                    {
                        name: 'Username',
                        index: 'Username',
                        width: '250px'
                    },
                    {
                        name: 'IsAdmin',
                        index: 'IsAdmin',
                        width: '150px'
                    },
                    {
                        name: 'Action',
                        index: 'Action',
                        align: "left",
                        width: '125px'
                    }
                ],
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                pager: '#pjqgrid',
                sortname: 'EnvironmentName',
                viewrecords: true,
                sortorder: "asc",
                caption: "Environment Permissions",
                multiselect: false,
                autowidth: false
            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar")
                .children()
                .removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk")
                .removeClass()
                .addClass("fa fa-save")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-success");
            $(".ui-icon.ui-icon-cancel")
                .removeClass()
                .addClass("fa fa-times")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });


    </script>
}
