﻿@model Onactuate.EnvironmentConfig.Web.Models.EnvironmentViewModel

@using System.Text
@using Onactuate.Common.Configuration.Lektor
@using Onactuate.EnvironmentConfig.Web.App_Helpers
@using Onactuate.EnvironmentConfig.Web.Utility
@using Onactuate.Webportal.Domain.Model
@{
    if (this.HasUnhandledException())
    {
        return;
    }

    SelectList environmentSelectList = new SelectList(Model.PossibleEnvironmentValues, "environmentId", "EnvironmentName");
}

<script language="javascript" type="text/javascript">

    var IsValidEnvName = false;

    $(function () {
        // Handler for .ready() called.
        $("#ValidEnvImage").hide();
        $("#NotValidEnvImage").hide();
        IsValidEnvName = false;
    });

    function ValidateEnvironmentName(envMasterVal) {

        $("#ValidEnvImage").hide();
        $("#NotValidEnvImage").hide();
        $("input[type=submit]").attr('disabled', 'disabled');

        // Make ajax call to validate the Environment Name
        if (envMasterVal != null && envMasterVal != "") {
            $.ajax({
                url: '@Url.Action("CheckUniqueEnvironmentName", "EnvConfig", new { area="EnvConfig" })',
                type: 'post',
                dataType: 'json',
                async: false,
                data: { 'EnvironmentName': envMasterVal },
                success: function (data) {
                    IsValidEnvName = data.isUniqueName;
                    if (data.isUniqueName) {
                        $("#ValidEnvImage").show();
                        $("input[type=submit]").removeAttr('disabled');
                    } else {
                        $("#NotValidEnvImage").show();
                        $("input[type=submit]").attr('disabled', 'disabled');
                    }
                }
            });
        }
    }

    function OpenEnvironment(envId) {
        if (envId > 0) {
            $("#selectedEnvironmentId").val(envId);
            $("#EditEnvironmentForm").submit();
        }
    }

</script>


<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h3 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-cogs txt-color-blue"></i>Environment Config
                <span>
                    >
                    <i class="fa fa-fw fa-cog"></i>Environments
                </span>
            </h3>
        </div>
    </div>

    <div class="inbox-nav-bar no-content-padding">

        <h1 class="page-title txt-color-blueDark hidden-tablet">
            <i class="fa fa-fw fa-inbox"></i> Environments
        </h1>

        <div class="btn-group hidden-desktop visible-tablet">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Inbox <i class="fa fa-caret-down"></i>
            </button>
        </div>

        &nbsp;&nbsp;&nbsp;
        <div class="inbox-checkbox-triggered">

            <div class="btn-group">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#createNewEnvironmentModal" rel="tooltip" title="" data-placement="bottom" data-original-title="Create New Environment" class="btn btn-default"><strong><i class="fa fa-cog fa-lg"></i></strong></a>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#cloneEnvironmentModal" rel="tooltip" title="" data-placement="bottom" data-original-title="Clone Existing Environment" class="btn btn-default"><strong><i class="fa fa-cogs fa-lg"></i></strong></a>
            </div>

        </div>

    </div>

    <div id="inbox-content" class="inbox-body no-content-padding">

        <div class="inbox-side-bar">

            <h6> Filters <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>
            
            <ul class="inbox-menu-lg">
                <li class="active">
                    <a href="@Url.Action("Default", "EnvConfig", new { area = "EnvConfig" })" class="inbox-load">Manage Env</a>
                </li>
            </ul>

        </div>

        <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
            <section id="widget-grid">
                <!-- row -->
                <div class="no-content-padding">
                    <!-- NEW WIDGET START -->
                    <br />

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="width: 650px">
                            @Html.ValidationBootstrap()
                        </div>
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
        </div>
    </div>

</div>

@using (Html.BeginForm("CreateNewEnvironment", "EnvConfig", FormMethod.Post, new { Area = "EnvConfig" }))
{
    <div class="modal fade" id="createNewEnvironmentModal" tabindex="-1" role="dialog" aria-labelledby="createNewEnvironmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-cog fa-lg"></i></strong>&nbsp;Create New Environment</h4>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" id="EnvironmentName" name="EnvironmentName" style="width: 555px; height: 30px; padding: 3px;padding-left: 10px" placeholder="Environment Name" required />
                                @*<img id="ValidEnvImage" style="vertical-align: middle" src="@Url.Content("~/Content/Img/Images/famfamfam_icons/tick.png")" />
                                    <img id="NotValidEnvImage" style="vertical-align: middle" src="@Url.Content("~/Content/Img/Images/famfamfam_icons/cross.png")" />*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="EnvironmentDescription" name="EnvironmentDescription" style="resize: none" class="form-control" rows="6" placeholder="Environment Description" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>&nbsp; Save &nbsp;</span>
                        </button>
                        <button onclick="javascript: $('#EnvironmentName').val(''); $('#EnvironmentDescription').val('');" type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("CloneEnvironment", "EnvConfig", FormMethod.Post, new { Area = "EnvConfig" }))
{
    <div class="modal fade" id="cloneEnvironmentModal" tabindex="-1" role="dialog" aria-labelledby="cloneEnvironmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-cogs fa-lg"></i></strong>&nbsp;Clone Environment</h4>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.DropDownList("EnvironmentIdToClone", environmentSelectList, new { style = "width:555px;height:30px", required = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" id="EnvironmentNameToClone" name="EnvironmentNameToClone" style="width: 555px; height: 30px; padding: 3px;padding-left: 10px" placeholder="Environment Name" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="EnvironmentDescriptionToClone" name="EnvironmentDescriptionToClone" style="resize: none" class="form-control" rows="6" placeholder="Environment Description" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>&nbsp; Save &nbsp;</span>
                        </button>
                        <button onclick="javascript: $('#EnvironmentNameToClone').val(''); $('#EnvironmentDescriptionToClone').val('');" type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("DeleteEnvironment", "EnvConfig", FormMethod.Post, new { Area = "EnvConfig" }))
{
    <div class="modal fade" id="deleteEnvironmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteEnvironmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><strong><i class="fa fa-cog fa-lg"></i></strong>&nbsp;Delete Environment</h4>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <table style="padding: 10px">
                                    <tr>
                                        <td style="width: 100px">
                                            <i class="fa fa-exclamation-triangle fa-5x txt-color-yellow"></i>
                                        </td>
                                        <td style="vertical-align: top">
                                            Are you sure you want to delete the selected environment?
                                            <br/><br/>
                                            All the keys, tokens and permissions for this environment will also be deleted.
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="EnvironmentIdToDelete" name="EnvironmentIdToDelete"/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>&nbsp; Delete &nbsp;</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}



@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function() {
            pageSetUp();

            var jqgrid_data = [
                @{
                    if (@Model != null)
                    {
                        int rowNumber = 1;

                        foreach (EnvironmentMaster envMaster in @Model.PossibleEnvironmentValues.Where(p=>p.EnvironmentId != int.MinValue))
                        {
                            string envImageSrc = Url.Content("~/Content/Img/Images/famfamfam_icons/application_home.png");
                            string envImage = string.Format("<img title ='Edit User' style='vertical-align:middle;cursor:pointer' src='{0}'>", envImageSrc);

                            string col1 = string.Format("<input type='checkbox' class='checkRecord' id='{0}' data-identifier='{1}' name='Chk_{1}'>", envMaster.EnvironmentId, rowNumber);
                            string editEnvironmentRoute = Url.Action("EditEnvironment", "EnvConfig", new { area = "EnvConfig", selectedEnvironmentId = envMaster.EnvironmentId });
                            string col2 = string.Format("&nbsp;{2}&nbsp;&nbsp;<a href='{1}'>{0}</a>", envMaster.EnvironmentName, editEnvironmentRoute, envImage); // col2
                            string col3 = envMaster.EnvironmentDescription; // col3


                            StringBuilder action = new StringBuilder();
                            string deleteImage = Url.Content("~/content/img/images/famfamfam_icons/table_delete.png");
                            action.AppendFormat("<a href='javascript: void(0);' onclick=$('#EnvironmentIdToDelete').val('{0}') data-toggle='modal' data-target='#deleteEnvironmentModal' rel='tooltip' title='' data-placement='bottom'><img title='Delete Environment' style='cursor:pointer; cursor:hand;' id='Img_{0}' src='{1}' ></a>&nbsp;&nbsp;", envMaster.EnvironmentId, deleteImage);

                            @Html.Raw("{")
                            @Html.Raw("    EnvironmentName: \"" + col2 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    EnvironmentDescription: \"" + col3 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \" " + action.ToString() + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")

                            rowNumber++;
                        }
                    }
                }
            ];

            jQuery("#jqgrid").jqGrid({
                data: jqgrid_data,
                datatype: "local",
                height: 'auto',
                colNames: ['Environment Name', 'Environment Description', 'Action'],
                colModel: [
                    {
                        name: 'EnvironmentName',
                        index: 'EnvironmentName',
                        width: '350px'
                    },
                    {
                        name: 'EnvironmentDescription',
                        index: 'EnvironmentDescription',
                        width: '500px'
                    },
                    {
                        name: 'Action',
                        index: 'Action',
                        align: "left",
                        width: '75px'
                    }
                ],
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                pager: '#pjqgrid',
                sortname: 'EnvironmentName',
                viewrecords: true,
                sortorder: "asc",
                caption: "Environment Management",
                multiselect: false,
                autowidth: false

            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar")
                .children()
                .removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk")
                .removeClass()
                .addClass("fa fa-save")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-success");
            $(".ui-icon.ui-icon-cancel")
                .removeClass()
                .addClass("fa fa-times")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });

    </script>
}
