﻿@model int

@{
    ViewBag.Title = "Delete Key";
}

@using (Html.BeginForm("DeleteEntryPost", "EnvConfig", new { area = "EnvConfig" }, FormMethod.Post, new { area = "" }))
{
    <input type="hidden" name="entryNo" id="entryNo" value="@Model" />
    <div>
        <br />
            Are you sure you want to delete this key?
        <br />
    </div>

    <div class="button_bar_page row">
        <table>
            <tr>
                <td style="width:25%"></td>
                <td style="width:25%">
                    <input type="submit" id="submit" value="Delete" class="btn size_50" alt="Delete" />
                </td>
                <td style="width:25%">
                    <input type="submit" id="submit" value="Cancel" onclick="hideDialog(); return false;" class="btn size_50" alt="Delete" />
                </td>
                <td style="width:25%"></td>
            </tr>
        </table>
    </div>

}