﻿@using System.Text
@using Onactuate.Common.Configuration.ConfigSettings.ConfigEnvironment
@using Onactuate.Common.Configuration.Lektor
@using Onactuate.EnvironmentConfig.Web.App_Helpers
@using Onactuate.Webportal.Domain.Model;
@model IEnumerable<KeyMaster>

<script src="@Url.Content("~/Scripts/CustomScripts/EditEnvironmentConfig.js")"></script>

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h3 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-cogs txt-color-blue"></i>Environment Config
                <span>
                    >
                    <i class="fa fa-fw fa-cog"></i>Environments
                </span>
            </h3>
        </div>
    </div>

    <div class="inbox-nav-bar no-content-padding">

        <h1 class="page-title txt-color-blueDark hidden-tablet">
            <i class="fa fa-fw fa-inbox"></i> Environments
        </h1>

        <div class="btn-group hidden-desktop visible-tablet">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Inbox <i class="fa fa-caret-down"></i>
            </button>
        </div>

        &nbsp;&nbsp;&nbsp;
        <div class="inbox-checkbox-triggered">

            <div class="btn-group">
                <a href="javascript:void(0);" onclick="$('#EnvIdToCreate').val('@Model.First().TokenMasterObj.EnvironmentId');$('#EnvironmentToCreate').html('@Model.First().TokenMasterObj.EnvironmentMasterObj.EnvironmentName');" data-toggle="modal" data-target="#createKeyModal" rel="tooltip" title="" data-placement="bottom" data-original-title="Create a new key" class="btn btn-default"><strong><i class="fa fa-upload fa-lg"></i></strong></a>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteKeysModal" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete Selected keys" class="deletebutton btn btn-default"><strong><i class="fa fa-trash-o fa-lg"></i></strong></a>
            </div>

        </div>

    </div>

    <div id="inbox-content" class="inbox-body no-content-padding">

        <div class="inbox-side-bar">

            <h6> Filters <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>

            <ul class="inbox-menu-lg">
                <li class="active">
                    <a href="@Url.Action("Default", "EnvConfig", new { area = "EnvConfig" })" class="inbox-load">Manage Env</a>
                </li>
            </ul>

        </div>

        <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
            <section id="widget-grid">
                <!-- row -->
                <div class="no-content-padding">
                    <!-- NEW WIDGET START -->
                    <br />

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="width: 650px">
                            @Html.ValidationBootstrap()
                        </div>
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
        </div>
    </div>

</div>

@using (Html.BeginForm("EditEntry", "EnvConfig", FormMethod.Post, new { Area = "EnvConfig" }))
{
    <div class="modal fade" id="editKeyModal" tabindex="-1" role="dialog" aria-labelledby="editKeyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Key Value</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Environment Name</td>
                                        <td style="width:30px">:</td>
                                        <td id="EnvironmentToEdit"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Token Name</td>
                                        <td style="width:30px">:</td>
                                        <td id="TokenNameToEdit"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Key Name</td>
                                        <td style="width:30px">:</td>
                                        <td id="KeyNameToEdit"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Is Encrypted?</td>
                                        <td style="width:30px">:</td>
                                        <td><input type="checkbox" id="IsEncryptedToEdit" name="IsEncryptedToEdit" value="true" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="KeyValueToEdit" name="KeyValueToEdit" style="resize: none" class="form-control" rows="6" placeholder="Key Value" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>&nbsp; Save &nbsp;</span>
                        </button>
                        <button onclick="javascript: ResetUploadFileForm();" type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <input id="KeyIdToEdit" name="KeyIdToEdit" type="hidden" />
}

@using (Html.BeginForm("CreateNewKey", "EnvConfig", FormMethod.Post, new { Area = "EnvConfig" }))
{
    <div class="modal fade" id="createKeyModal" tabindex="-1" role="dialog" aria-labelledby="createKeyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Create a New Key</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Environment Name</td>
                                        <td style="width:30px">:</td>
                                        <td id="EnvironmentToCreate"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <input type="text" id="TokenNameToCreate" name="TokenNameToCreate" style="width: 555px;height:30px" placeholder="Token Name" required>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <input type="text" id="KeyNameToCreate" name="KeyNameToCreate" style="width:555px;height:30px" placeholder="Key Name" required>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="width:150px">Encrypt Value?</td>
                                        <td style="width:30px">:</td>
                                        <td><input type="checkbox" id="IsEncryptedToCreate" name="IsEncryptedToCreate" value="true" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="KeyValueToCreate" name="KeyValueToCreate" style="resize: none" class="form-control" rows="6" placeholder="Key Value" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-save"></i>
                            <span>&nbsp; Save &nbsp;</span>
                        </button>
                        <button onclick="javascript: ResetUploadFileForm();" type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <input id="EnvIdToCreate" name="EnvIdToCreate" type="hidden" />
}

@section pagespecific {
    <script type="text/javascript">
        function SetKeyToEditValues(val, keyValue) {
            //alert(decodeURIComponent(keyValue));
            if (val == false) {
                $("#IsEncryptedToEdit").prop("checked", false);
            } else {
                $("#IsEncryptedToEdit").prop("checked", true);
            }

            $('#KeyValueToEdit').html(decodeURIComponent(keyValue));
        }

        $(document).ready(function() {
            pageSetUp();

            var jqgrid_data = [
                @{
                    if (@Model != null)
                    {
                        int rowNumber = 1;
                        string environmentName = EnvironmentSection.GetEnvironmentName;

                        foreach (KeyMaster keyMaster in @Model.Where(p=>p.KeyId != int.MinValue))
                        {
                            string tokenName = keyMaster.TokenMasterObj.TokenName;

                            string col1 = string.Format("<input type='checkbox' class='checkRecord' id='{0}' data-identifier='{2}' name='Chk_{1}'>", keyMaster.KeyId, rowNumber, keyMaster.KeyId);
                            string col2 = tokenName; // col2
                            string col3 = keyMaster.KeyName; // col3
                            string col4 = keyMaster.KeyValue; // col4
                            if (!string.IsNullOrEmpty(col4))
                            {
                                col4 = Uri.EscapeUriString(keyMaster.KeyValue); // col4
                            }

                            string checkImage = Url.Content("~/content/img/images/famfamfam_icons/tick.png");
                            string col5 = keyMaster.IsEncrypted ? string.Format("<img src='{0}'>", checkImage) : string.Empty; // col5

                            string editImage = Url.Content("~/content/img/images/famfamfam_icons/table_edit.png");
                            string deleteImage = Url.Content("~/content/img/images/famfamfam_icons/table_delete.png");

                            string editEntryOnClick = string.Format("EntryOnEdit('{0}')", keyMaster.KeyId);

                            string deleteEntryRoute = Url.Action("DeleteEntry", "EnvConfig", new { area = "EnvConfig", entryNo = keyMaster.KeyId });
                            string deleteEntryOnClick = string.Format("return showDialog('{0}', '{1}', 350, 200)", deleteEntryRoute, "Delete Entry");
                            string isEncrypted = keyMaster.IsEncrypted ? "true" : "false";
                            string keyValueDecrypted = keyMaster.KeyValue;

                            if (keyMaster.IsEncrypted)
                            {
                                keyValueDecrypted = EncryptionHelper.DecryptData(EncryptionHelper.GetBytes(keyMaster.KeyValue), environmentName);
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(keyValueDecrypted))
                                {
                                    keyValueDecrypted = Uri.EscapeUriString(keyMaster.KeyValue);
                                }
                            }

                            StringBuilder action = new StringBuilder();
                            action.AppendFormat("<a href='javascript: void(0);' onclick=SetKeyToEditValues({6},'{5}');$('#KeyIdToEdit').val('{7}');$('#EnvironmentToEdit').html('{2}');$('#TokenNameToEdit').html('{3}');$('#KeyNameToEdit').html('{4}') data-toggle='modal' data-target='#editKeyModal' rel='tooltip' title='' data-placement='bottom'><img title='Edit Entry' style='cursor:pointer; cursor:hand;' id='{1}' src='{0}' ></a>&nbsp;&nbsp;", editImage, string.Format("editButton-{0}", keyMaster.KeyId), keyMaster.TokenMasterObj.EnvironmentMasterObj.EnvironmentName, keyMaster.TokenMasterObj.TokenName, keyMaster.KeyName, keyValueDecrypted, isEncrypted, keyMaster.KeyId);
                            action.AppendFormat("<img title='Delete Entry' style='cursor:pointer; cursor:hand;'   src='{1}' onclick='javascript:{0}'>&nbsp;&nbsp;",deleteEntryOnClick, deleteImage);

                            @Html.Raw("{")
                            @Html.Raw("\n")
                            @Html.Raw("    Delete: \"" + col1 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    TokenName: \"" + col2 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    KeyName: \"" + col3 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    KeyValue: \"" + col4 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Encrypted: \"" + col5 + "\",")
                            @Html.Raw("\n")
                            @Html.Raw("    Action: \" " + action.ToString() + "\"")
                            @Html.Raw("\n")
                            @Html.Raw("},")
                            @Html.Raw("\n")


                            rowNumber++;
                        }
                    }
                }
            ];

            jQuery("#jqgrid").jqGrid({
                data: jqgrid_data,
                datatype: "local",
                height: 'auto',
                colNames: ['', 'Token Name', 'Key Name', 'Key Value', 'Encrypted?', 'Action'],
                colModel: [
                    {
                        name: 'Delete',
                        index: 'Delete',
                        width: '30px'
                    },
                    {
                        name: 'TokenName',
                        index: 'TokenName',
                        width: '150px'
                    },
                    {
                        name: 'KeyName',
                        index: 'KeyName',
                        width: '250px'
                    },
                    {
                        name: 'KeyValue',
                        index: 'KeyValue',
                        width: '400px'
                    },
                    {
                        name: 'Encrypted',
                        index: 'Encrypted',
                        align: "center",
                        width: '75px'
                    },
                    {
                        name: 'Action',
                        index: 'Action',
                        align: "left",
                        width: '75px'
                    }
                ],
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                pager: '#pjqgrid',
                sortname: 'TokenName, KeyName',
                viewrecords: true,
                sortorder: "asc",
                caption: "Environment: <b>@Model.First().TokenMasterObj.EnvironmentMasterObj.EnvironmentName</b>",
                multiselect: false,
                autowidth: false

            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar")
                .children()
                .removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk")
                .removeClass()
                .addClass("fa fa-save")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-success");
            $(".ui-icon.ui-icon-cancel")
                .removeClass()
                .addClass("fa fa-times")
                .parent(".btn-primary")
                .removeClass("btn-primary")
                .addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });


    </script>
}
