﻿@using Onactuate.EnvironmentConfig.Web.App_Helpers
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            @{
                if (Session["PermissionType"] != null && ((Session["PermissionType"].ToString().Equals("0")) || (Session["PermissionType"].ToString().Equals("1"))))
                {
                    <li class="@Html.RouteIf("Admin", "active")">
                        <a href="#"><i class="fa fa-lg fa-fw fa-lock txt-color-blue"></i> <span class="menu-item-parent">Permissions</span></a>
                        <ul>
                            <li class="@Html.RouteIf("AdminPage", "active")">
                                <a href="@Url.Action("AdminPage", "Admin", new { area = "EnvConfig" })" title="Application Permissions"><i class="fa fa-lg fa-fw fa-shield"></i> <span class="menu-item-parent">Application</span></a>
                            </li>
                            <li class="@Html.RouteIf("EnvironmentPermissions", "active")">
                                <a href="@Url.Action("EnvironmentPermissions", "Admin", new { area = "EnvConfig" })" title="Environment Permissions"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Environment</span></a>
                            </li>
                        </ul>
                    </li>
                }}

            <li class="@Html.RouteIf("EnvConfig", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs txt-color-blue"></i> <span class="menu-item-parent">Environment Config</span></a>
                <ul>
                    <li class="@Html.RouteIf("Default", "active")">
                        <a href="@Url.Action("Default", "EnvConfig", new { area = "EnvConfig" })" title="Manage Environments"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Manage Env</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>

<!-- END NAVIGATION -->