﻿<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">

            </div>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->