﻿<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <img style="height: 48px;width:130px" src="@Url.Content("~/Content/img/logo/Onactuate-Logo.png")" alt="Onactuate India Pvt Ltd">
        <!-- END LOGO PLACEHOLDER -->
    </div>
    
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->