﻿@using Onactuate.EnvironmentConfig.Web.App_Helpers
<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@Settings.CurrentTheme">
<head>
    <title>Onactuate Labs - Configuration Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Doc++ document management system developed by Onactuate Labs">
    <meta name="author" content="Onactuate Labs Team">

    <!-- CORE CSS -->
    <link href="@Url.Content("~/content/assets/css/bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/assets/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/assets/css/elegant-icons.css")" rel="stylesheet" type="text/css">

    <!-- THEME CSS -->
    <link href="@Url.Content("~/content/assets/css/main.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/assets/css/my-custom-styles.css")" rel="stylesheet" type="text/css">

    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
    <!-- FAVICONS -->

    <link rel="icon" href="~/content/img/favicon/favicon.png" type="image/x-icon">

</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        @{ Html.RenderPartial("_PublicNavbar"); }
        
        @RenderBody();

        @{ Html.RenderPartial("_PublicFooter"); }
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPT -->
    <script src="@Url.Content("~/content/assets/js/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/plugins/easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/plugins/jquery-vide/jquery.vide.min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/plugins/scrollto/jquery.scrollTo-1.4.3.1-min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/plugins/scrollto/jquery.localscroll-1.2.7-min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/plugins/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/content/assets/js/bravana.js")"></script>
    <!-- END JAVASCRIPT -->    

</body>


</html>