﻿@using Onactuate.EnvironmentConfig.Web.Utility
<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId">
<head>
    <title>Onactuate Labs - Environment Configuration Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onactuate Labs - Environment Configuration Web developed by Onactuate Labs">
    <meta name="author" content="Onactuate Labs Team">

    <!-- =========================
    FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="@Url.Content("~/Content/stamp/images/favicons/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@Url.Content("~/Content/stamp/images/favicons/favicon-152.png")">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@Url.Content("~/Content/stamp/images/favicons/favicon-120.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/stamp/images/favicons/favicon-72.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/stamp/images/favicons/favicon-57.png")">

    <link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Open+Sans:300,600,400' rel='stylesheet'>

    <!-- =========================
    STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/bootstrap.min.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/animate.min.css")">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/assets/icons/icons.css")">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/owl.theme.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/nivo-lightbox.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/nivo_themes/default/default.css")">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/styles.css")">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/responsive.css")">

    <!-- COLORS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/blue.css")">
    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/red.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/green.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/green2.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/purple.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/orange.css")"> -->

</head>

<body>

    <!-- =========================
    PRE LOADER
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>

    @*  BEGIN DATA VALIDATION ERROR  *@
    @if ((!this.HasUnhandledException()) &&
         (TempData["ApplicationController_ErrorMessage"] != null) &&
         ((List<String>)TempData["ApplicationController_ErrorMessage"]).Count > 0)
    {
        <div id="ErrorPageHeader">
            <div class="ErrorMessage" id="ErrorMessageContainer">
                <div class="CloseButton">
                    <input type="image" src="@Url.Content("~/Content/img/Images/cross_d.png")"
                           onclick="$('#ErrorMessageContainer').fadeOut(500)" alt="Close" />
                </div>
                <div id="ErrorMessageText">
                    @foreach (String errorMessage in (List<String>)TempData["ApplicationController_ErrorMessage"])
                    {
                        @Html.Raw(errorMessage)
                        <br />
                    }
                </div>
            </div>
        </div>
    }
    @*  END DATA VALIDATION ERROR  *@
    @*  START CONTENT CONTAINER  *@
    @if (!this.HasUnhandledException())
    {
        <div class="cp_content_container public">
            @RenderBody()
        </div>
    }
    else
    {
        // Because there is an unhandled exception, we don't want to render body content.
        // We want to render the inline error contents only.  But we need to keep the function
        // call here to avoid an MVC exception triggered by a missing RenderBody() function.
        // The following line does not emit body content due to the missing at sign in front.
        RenderBody();
    }
    @*  END CONTENT CONTAINER - class="saas_content_container"  *@ @*  BEGIN UNHANDLED INLINE ERROR  *@
    @if (this.HasUnhandledException())
    {
        <div class="cp_content_container public">
            @{Html.RenderPartial(this.ErrorPartialView());}
        </div>
    }
    @*  END UNHANDLED INLINE ERROR  *@
    <div id="dialog" title="Default Title" style="display: none; height: auto; width: auto;">
        <div style="width: auto; height: auto;" id="modalIframeId">
        </div>
    </div>

    @{ Html.RenderPartial("_StampFooter"); }

    <!-- =========================
    SCRIPTS
    ============================== -->
    <script src="@Url.Content("~/Content/stamp/js/jquery.min.js")"></script>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    <script src="@Url.Content("~/Content/stamp/js/smoothscroll.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.nav.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/nivo-lightbox.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/retina.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.ajaxchimp.min.js")"></script>

</body>

</html>