﻿<header class="header" data-stellar-background-ratio="0.5" id="home">

    <!-- COLOR OVER IMAGE -->
    <div class="overlay-layer">

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-grid-2x2"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand" href="#">
                        <img src="@Url.Content("~/Content/img/logo/Onactuate-Logo.png")" alt="">
                    </a>

                </div>

                <!-- TOP BAR -->
                <div class="navbar-collapse collapse" id="stamp-navigation">

                    <!-- NAVIGATION LINK -->
                    @*<ul class="nav navbar-nav navbar-left main-navigation small-text">
                        <li>
                            <a href="#section2">Why Us?</a>
                        </li>
                    </ul>*@

                    <!-- LOGIN REGISTER -->
                    @*<ul class="nav navbar-nav navbar-right login-register small-text">
                        <li class="login js-login">
                            <a href="#">Register</a>
                        </li>
                    </ul>*@
                </div>
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END STICKY NAVIGATION -->
        
    </div>
</header>
