.scrollable {
	BORDER-BOTTOM: #ccc 0px solid; 
	POSITION: relative; 
	BORDER-LEFT: #ccc 0px solid; 
	WIDTH: 880px;
    height: 400px;
	BACKGROUND: url(/Content/Images/CardScroll/blank.gif) repeat-x; 
	OVERFLOW: hidden;
	BORDER-TOP: #ccc 0px solid; 
	BORDER-RIGHT: #ccc 0px solid
}
.scrollable .items 
{
    WIDTH: 880px;
	POSITION: absolute; 
	CLEAR: both
}
.items DIV {
	FLOAT: left
}
.scrollable IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fff; MARGIN: 20px 5px 20px 21px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 75px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; -moz-border-radius: 4px; -webkit-border-radius: 4px
}
.scrollable .active {
	BORDER-BOTTOM: #000 2px solid; POSITION: relative; BORDER-LEFT: #000 2px solid; BORDER-TOP: #000 2px solid; CURSOR: default; BORDER-RIGHT: #000 2px solid
}
