﻿@using Onactuate.EnvironmentConfig.Web.App_Helpers
@model AccountLoginModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}

<header class="header" data-stellar-background-ratio="0.5" id="home">

    <!-- COLOR OVER IMAGE -->
    <div class="overlay-layer">

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-grid-2x2"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="onactuate-logo" href="#">
                        <img src="@Url.Content("~/Content/img/logo/Onactuate-Logo.png")" alt="">
                    </a>

                </div>

                <!-- TOP BAR -->
                <div class="navbar-collapse collapse" id="stamp-navigation">

                    <!-- NAVIGATION LINK -->
                    @*<ul class="nav navbar-nav navbar-left main-navigation small-text">
                            <li>
                                <a href="#section2">Why Us?</a>
                            </li>
                            <li>
                                <a href="#section5">Services</a>
                            </li>
                            <li>
                                <a href="#section6">Pricing</a>
                            </li>
                        </ul>*@

                    <!-- LOGIN REGISTER -->
                    @*<ul class="nav navbar-nav navbar-right login-register small-text">
                            <li class="login js-login">
                                <a href="#">Register</a>
                            </li>
                        </ul>*@
                </div>
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END STICKY NAVIGATION -->
        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER
                  <div class="only-logo">
                     <div class="navbar">
                            <div class="navbar-header">
                               <img src="images/logo-2.png" alt="">
                            </div>
                     </div>
                  </div>
                  /END ONLY LOGO ON HEADER -->

            <div class="row">
                <div class="col-md-7 text-left">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- WELCOM MESSAGE -->
                        <h1 class="intro white-text">
                            Environment Config Web
                        </h1>

                        <p class="transparent-text">A Simple web developed by the Onactuate Labs Team to configure the dynamic data for your websites.</p>

                    </div>

                </div>

                <div class="col-md-5 pull-right">

                    <!-- VERTICAL REGISTRATION FORM -->
                    <div class="vertical-registration-form">

                        <h4 class="dark-text form-heading">Sign In</h4>

                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { Area = "" }))
                        {
                            @Html.HiddenFor(m => m.ReturnUrl)
                            @Html.AntiForgeryToken()
                            @Html.ValidationBootstrap()

                            <input type="text" id="Username" name="Username" class="form-control input-box" placeholder="Username" required />
                            <input type="password" id="Password" name="Password" class="form-control input-box" placeholder="Password" required />

                            <button type="submit" class="btn btn-primary standard-button">Sign In</button>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>