﻿@using Onactuate.EnvironmentConfig.Web.App_Helpers
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h3 class="page-title txt-color-blueDark">
                <i class="btn-group-lg glyphicon glyphicon-warning-sign txt-color-red"></i>
                &nbsp;
                <span style="color:red">System Error </span>
            </h3>
        </div>
    </div>

    <div id="inbox-content" class="inbox-body no-content-padding">
        
        <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">

            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    
                    @Html.Raw(HttpContext.Current.Session["ErrorMessage"])

                </div>
                <!-- end row -->
            </section>

        </div>

    </div>

</div>