.rep_ReportSelector_Rounded {
	background-color: #fcfcfc;
	width: 940px;
	height: 35px;
	margin: 0 auto 15px auto;
	padding: 5px;
	border: 2px solid #f5f5f5;

	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
}

.rep_Select_Rounded {
    width:200px;
    color:#4e4e50; 
    font-size:13px; 
    font-family:"MuseoSansDell", Arial, Helvetica, sans-serif !important;
}

.css_page_footnote_blue {
    color: #0085c3;
    font-size: 11px; 
    font-style: italic; 
    text-align:justify;
}
.css_page_footnote_white {
    text-align:justify; 
    font-size:11px;
    font-style: italic; 
    text-align:justify;
}

.blueTextBold {
    font-size:18px; 
    color:#0085c3;
    font-weight: bold;
    height: 30px;
}

/* Classes for the Flexigrid - HEADER */
.css_grid_DefaultHeaderStyle {
    font-family: MuseoSansDell;
    color: #303030;
    background-color: rgb(233, 238, 244);
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}
.css_grid_headerStyle {
    font-family: MuseoSansDell;
    color: #303030;
    background-color: rgb(233, 238, 244);
    font-size: 10.5px;
}
.css_grid_headerStyle_Smaller {
    color: #606060;
    font-size: 8px;
}
.css_grid_headerStyle_Blue {
    font-weight: bold;
    font-size: 12px;
    color: #0085c3;
    vertical-align:top;
}
/* ------------------------------------------------------------- */

/* Classes for the Flexigrid - ROWS */
.css_grid_rowLevelOne {
    font-family: MuseoSansDell, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
    color: rgb(40,40,40);
    background-color: rgb(246, 246, 246);
}
.css_grid_rowLevelTwo {
    font-family: MuseoSansDell, Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: rgb(40,40,40);
    background-color: rgb(246, 246, 246);
    vertical-align: middle;
    padding: 0px;
}
.css_grid_rowLevelThree {
    font-family: MuseoDell;
    font-size: 14px;
    color: rgb(40,40,40); 
    background-color: rgb(255,255,255)
}

.css_grid_ChargeNumberStyle {
    font-family: MuseoSansDell-Bold, Arial, Helvetica, sans-serif !important;
    color: rgb(60,60,60);
    font-size: 11px;
    padding-left:10px;
}

.css_grid_ChargeNumberStyle_Smaller {
    color: rgb(140,140,140);
    font-size: 10px;
}

.css_grid_ChargeNumberStyle_Blue {
    color: #0085c3;
    font-size: 12px;
}

.css_grid_BottomRow {
    font-family: MuseoSansDell-Bold, Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background-color: #0085c3;
}

/* ------------------------------------------------------------- */

/* Styles for the Details Grid */
.css_DetailsGrid_ChargeNumberCell {
    border: 1px solid;
    border-color: #cccccc;
    height: 35px;
    vertical-align: middle;    
}

.css_DetailsGrid_DataCell {
    font-family: MuseoSansDell, Arial, Helvetica, sans-serif !important;
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    color: rgb(140,140,140);
    background-color: rgb(255, 255, 255);
    height: 35px;
    border: 1px solid;
    border-color: #cccccc;
}

.tableStyle {
    width: 950px;
    padding: 0;
    border-spacing: 0;
    border: 1px solid;
    border-color: #cccccc;
}
.tableRowStyle {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
/* ------------------------------------------------------------- */