/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - Public
	Point of Contact: Eric Nordquist
	CSS by: Matt Corcoran & Brian Cronk
-------------------------------------------------------------- */

/*  Content Containers CSS  */
.cp_content_container { position:relative; z-index:10 !important; padding:20px; background:#fff; box-shadow:0px 2px 3px #bbb; overflow:auto; margin:0 auto 20px auto; border-radius:10px; width:960px; }
.public { }

.pane_left_signup { float:left; width:520px; margin:0 -560px 20px 20px; padding:0; border-right:1px solid #DDD; }
.pane_right_signup { margin:0 0 20px 560px; padding:0; width:350px; display:inline-block; }
.pane_full_signup { width:920px; margin:0 0 20px 0; padding:0; }

.public .pane_left_50 { float:left; width:430px; margin:0 -480px 0 0; padding:0 40px 20px 0; border-right:1px solid #DDD; }
.public .pane_right_50 { margin:0 0 0 480px; width:430px; padding:0 0 20px 40px; }

/*  Footer CSS  */
.cp_site_footer { clear:both; margin:0; padding:0 0 50px 0; border-top:1px solid #e1e1e1; background:#FFF; }
.cp_site_footer p { margin:5px; padding:0; color:#FFF; font-size:12px; line-height:24px; }
.cp_site_footer_sitemap { margin:0 auto 20px auto; padding:0 0 0 50px; width:960px; }
.cp_site_footer_sitemap .cp_sitemap_section { display:inline-block; font-size:11px; margin:10px 7px; padding:0; width:18%; float:left; list-style-type:none; }
.cp_site_footer_sitemap .cp_sitemap_section h5 { color:#626366; font-size:15px; font-weight:bold; margin:0 auto 7px auto; padding:0; font-family:"MuseoSansDell-Bold" !important; }
.cp_site_footer_sitemap .cp_sitemap_section ul { display:inline-block; font-size:11px; margin:0 auto; padding:0; float:left; list-style-type:none; }
.cp_sitemap_section ul li { margin-bottom:7px; }
.cp_site_footer_sitemap a:link, .cp_site_footer_sitemap a:active, .cp_site_footer_sitemap a:visited { text-decoration:none; color:#717174; }
.cp_site_footer_sitemap a:hover, .cp_site_footer_sitemap a:visited:hover { text-decoration:underline; color:#0085c3; }
p.cp_footer_copyright { clear:left; margin:0 20px; padding:20px 0 10px 0; text-align:center; font-size:11px; color:#717174; border-top:1px solid #DDD; }
.cp_footer_links { text-align:center; margin:0 20px; font-size:11px; }
.cp_footer_links li { display:inline; padding:0; margin:0; }
.cp_footer_links a { padding:0 10px; font-weight:bold; border-left:1px solid #ccc; font-weight:normal !important; }
.cp_footer_links a.first { border-left:none; }


/*  Sign IN CSS  */
.cp_signin {width:350px !important; color: #343434; margin:30px auto; background: #ffffff url(../images/cp_container_signin_bs.gif) repeat-x bottom left !important;}
.cp_signin .cp_container_content {padding: 10px 14px 14px 14px;}
.cp_signin form {margin: 0; padding: 0;}
.cp_signin h2 {margin: 0 0 6px 0; padding: 0; font-weight: bold; font-style: normal; font-size: 16px;}
.cp_signin .cp_formlabel {padding: 8px 0 2px 0; font-size:12px;}
.cp_signin .cp_formlinks {padding: 4px 0 2px 0; font-size:11px;}
.cp_signin .cp_formlinks a {color: #0085c3; text-decoration: none;}
.cp_signin .cp_formlinks a:hover {text-decoration: underline;}
.cp_signin .cp_formtxtinput {padding:0;}
.cp_signin .cp_signinput {width: 200px; font-size: 12px;}
.cp_signin .cp_rememberme {padding: 6px 0 2px 0; font-size: 12px;}


/*  Sign UP CSS  */
.cp_steps { height:90px; width:660px; margin:30px auto; padding:0; position:relative; text-align:center; vertical-align:bottom !important; }
.cp_steps div.step_block { float:left; width:80px; height:90px; padding:0 15px; margin:0 auto; text-align:center; color:#666; position:relative; z-index:4; }
.cp_steps div.step-notstarted { background:url(../images/progressbar/progressbar_circle-empty.png) bottom center no-repeat; }
.cp_steps div.step-current { color:#0085c3; background:url(../images/progressbar/progressbar_triangle.png) bottom center no-repeat; }
.cp_steps div.step-completed { color:#ccc; background:url(../images/progressbar/progressbar_circle-complete.png) bottom center no-repeat; }
.cp_steps div.step_block strong { font-size:14px !important; }
.progress_bar { width:100%; z-index:2; margin:auto 0 0 0; padding:0; position:absolute; left:0; top:66px; border:1px solid #DDD; border-radius:2px; height:3px; }
.progress_bar_color { position:absolute; top:0; left:0; z-index:3; margin:0; padding:0; height:3px; background:#EEE;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ddd));
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
}
.step1 .progress_bar_color { width:9% !important; }
.step2 .progress_bar_color { width:26% !important; }
.step3 .progress_bar_color { width:41% !important; }
.step4 .progress_bar_color { width:57% !important; }
.step5 .progress_bar_color { width:75% !important; }
.step6 .progress_bar_color { width:100% !important; }

.signup_statusbar {position:relative; width:100%; margin-top:10px; height: 16px; border: 1px solid #cfced3; background-color: #ffffff; border-radius: 5px;}
.signup_statusbar .signup_statusbar_text {position: absolute; top: 2px; font-size: 10px; width: 200px; height: 14px; text-align: center;  z-index: 10px;} 
.signup_statusbar_blue {position: absolute; height: 16px; left: 0px; top: 0px; background-color: #ddf3f1; z-index: 5px; border-radius: 5px;}

form.form_sign-up { margin:0; padding:0; overflow:visible; }
.form_firstname, .form_firstname input, .form_lastname, .form_lastname input { float:left; width:90px; margin:0 20px 10px 0; }
.form_adminlastname, .form_adminlastname input { float:left; width:90px; margin:0 20px 10px 0; }
.form_mi, .form_mi input { float:left; width:25px; margin:0 20px 10px 0; }
.form_address, .form_address input { clear:left; width:250px; margin:0 20px 10px 0; }
.form_address span.tiptext { font-size:11px; color:#666; }
.form_city, .form_city input { float:left; width:70px; margin:0 20px 10px 0; }
.form_state, .form_state select { float:left; width:165px; margin:0 20px 10px 0; }
.form_zip, .form_zip input { clear:left; float:left; width:150px; margin:0 5px 10px 0; }
.form_zipsep { float:left; width:10px; text-align:center; margin:0 2px; line-height:50px; vertical-align:bottom; }
.form_zipext, .form_zipext input { float:left; width:70px; margin:0 0 10px 0; }
.form_email, .form_email input { clear:left; width:270px; margin:0 0 10px 0;  }
.form_email span.tiptext { font-size:11px; color:#666; }
.form_phone, .form_phone input { clear:left; width:270px; margin:0 0 10px 0;  }
.form_phone span.tiptext { font-size:11px; color:#666; }
.form_password, .form_password input { clear:left; width:250px; margin:0 20px 10px 0; }
.form_password-tip { float:right; font-size:11px; color:#666; width:210px; margin:0 15px 0 0; padding:5px; border:1px solid #eee; line-height:12px; background:#f6f6f6; border-radius:5px; }
.form_password-tip ul { margin:5px; padding:0 0 0 20px; }
.form_password-confirm, .form_password-confirm input { clear:left; float:left; width:250px; margin:0 20px 10px 0; }
.form_checkbox-single { clear:left; width:380px; margin:0 0 20px 0; padding:10px 0 0 0; }
.form_checkbox-single input[type="checkbox"] { padding-left:0; margin-left:0; }
.form_p { clear:left; margin:20px 0 !important; padding:0; font-family:"MuseoSansDell-Bold"; }
.form_sign-up_buttons { clear:both; margin:20px 0 0 0; padding:15px; text-align:center; border-top:1px solid #DDD; background:#f6f6f6; border-radius:0 0 10px 10px; }
.form_sign-up_buttons input { margin-right:20px; }
.form_general { margin:0 0 20px 0; padding:0; }
.form_general input { width:250px; }

.signup_products { width:560px; margin:0 auto; padding:0; }
.signup_products div { clear:left; margin:0 0 20px 0; display:table; border-top:1px solid #eee; padding-top:30px; }
.signup_products div input { float:left; margin:28px 0 0 0; padding:0 5px 0 0; vertical-align:middle; }
.signup_products div img { float:left; margin:0 10px 0 0; padding:0; }
.signup_products div p { float:right; width:450px; margin:5px 0 30px 0; padding:0; }
.signup_products div p strong { font-size:18px }
.signup_products div.terms { clear:left; margin:0 0 20px 0; border-top:1px solid #eee; width:100%; }
.signup_products div.terms input { margin:0 15px 20px 0; padding:0; }

.signup_products_emailsales { width:900px; margin:0 auto;padding: 0; }
.signup_products_emailsales div { clear:left; margin:0 0 20px 0; display:table; border-top:1px solid #eee; padding-top:30px;  }
.signup_products_emailsales div p.Underlined { text-decoration: underline }
.signup_products_emailsales table tr td.columnOne { width:40px; font-family:MuseoSansDell-Bold; font-weight:bold; color:#626366; }
.signup_products_emailsales table tr td.columnTwo { width:630px; font-family:MuseoSansDell-Bold; font-weight:bold; color:#626366; }
.signup_products_emailsales table tr td.columnFour { font-family:MuseoSansDell-Bold; font-weight:bold; color:#0085c3; }
.signup_products_emailsales table tr td.columnThree { width:250px; font-family:MuseoSansDell-Bold; font-weight:bold; color:#626366; }


.required { font-family:"MuseoDell-Bold"; color:#e51937; font-size:23px; margin:0; padding:0; line-height:11px !important; height:12px !important; vertical-align:bottom !important; }
.edit_button { float:right; margin:7px 40px 0 0; background:url(../images/buttons_sprite.png) 0 0 no-repeat !important; width:50px; text-align:center; }
.edit_button a { color:#FFF !important; line-height:23px; font-family:"MuseoSansDell-Bold" !important; vertical-align:middle !important; }
p.breadcrumb { margin:0 auto 3px 1px; padding:0; }
p.breadcrumb a { margin:0 5px 0 0; padding:0 10px 0 0; font-size:11px; font-weight:normal; background:url(../images/breadcrumb_separator.png) right no-repeat; }


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html .ie7_step1 { margin:300px 0 0 0; }
*+html .ie7_step2, *+html .ie7_step3 { margin:0; }


/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
}