/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - MAIN
	Point of Contact: Eric Nordquist
	CSS by: Matt Corcoran & Brian Cronk
-------------------------------------------------------------- */

/*  Font & HTML Elements  */
@font-face { font-family:MuseoDell; src:url(../fonts/MuseoForDell-Regular.ttf); }
@font-face { font-family:MuseoDell-Bold; src:url(../fonts/MuseoForDell-Bold.ttf); }
@font-face { font-family:MuseoSansDell; src:url(../fonts/MuseoSansForDell-Regular.ttf); }
@font-face { font-family:MuseoSansDell-Bold; src:url(../fonts/MuseoSansForDell-Bold.ttf); }
html { width:100%; height:100%; }
html, form, input, textarea, select, option { color:#4e4e50; font-size:13px; font-family:"MuseoSansDell", Arial, Helvetica, sans-serif !important; }
body { padding:0; margin:0; background:#EEE; }
a:link, a:active, a:visited { text-decoration:none; color:#0085c3; }
a:hover, a:visited:hover { text-decoration:underline; color:#0085c3; }
img { border:0; }
h1 { float:left; margin:10px auto 0 20px; padding:0; text-indent:50px; height:40px; font-family:"MuseoDell", Arial, Helvetica, sans-serif; color:#717174; font-size:17px; font-weight:normal; text-align:left; background:url("../images/logo_dell.png") top left no-repeat; line-height:40px; vertical-align:middle; }
h2 { color:#4c4d4f; font-size:28px; font-weight:normal; margin:0 0 13px 0; padding:0; font-family:"MuseoDell-Bold"; }
h3, h4, h5, h6 { font-weight:normal; }
h3 { font-size:24px; color:#4c4d4f; margin-top:0; }
h4 { font-size:21px; color:#4c4d4f; margin:0 0 10px 0; padding:0; clear:left; }
h5 { font-size:18px; color:#4c4d4f; }
h6 { font-size:14px; color:#4c4d4f; }
p { margin:0 0 10px 0; padding:0; }
strong, b { font-family:"MuseoSansDell-Bold"; }
hr { border:none; border-bottom:1px solid #EEE; margin:15px 0 20px 0; padding:0; }


/*  Masthead  */
.cp_masthead { display:block; margin-bottom:20px; -moz-box-shadow:0px 2px 5px #bbb; -webkit-box-shadow:0px 2px 3px #bbb; box-shadow:0px 2px 3px #bbb; background:#FFF; }
.cp_masthead .cp_masthead_row1 { font-size:11px; border-bottom:1px solid #dadada; margin:0; padding:6px 0; background:#333333; height: 22px }
.cp_masthead .cp_masthead_row1 .cp_country { margin:0 0 0 20px; padding:0; width:250px; }
.cp_masthead .cp_masthead_row1 .cp_country select { font-size:11px; }
.cp_masthead .cp_masthead_row1 .cp_utility_nav { float:right; margin:0 20px 0 auto; padding:0; position:relative; z-index:20; }
.cp_masthead .cp_masthead_row1 .cp_utility_nav p { margin:0; padding:0; }
.cp_masthead .cp_masthead_row1 .cp_utility_nav .cp_profile { border-right:1px solid #ccc; padding-right:15px;}
.cp_masthead .cp_masthead_row1 .cp_utility_nav .cp_support { border-right:1px solid #ccc; padding-right:15px;padding-left:15px; }
.cp_masthead .cp_masthead_row1 .cp_utility_nav .cp_links {margin: 5px; margin-left:10px; }
.cp_masthead .cp_masthead_row2 { padding:8px 0 5px 0; margin:0; display:table; text-align:right; width:100%; }
.cp_masthead .cp_masthead_row2 h1 { margin: 0 0 0 20px; height: auto; line-height: 43px; }
.cp_masthead .cp_masthead_row2 .cp_masthead_nav { margin:8px 20px 0 0; padding:0 0 0 0; list-style-type:none; }
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li { margin:0 5px 0 0; padding:0 !important; display:inline-block; list-style-type:none; height: 24px;}    
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li a { display:inline-block; margin:0; padding:0px; font-weight:normal; font-size:12px; border-radius:5px; }
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li .cp_call-sales { background:url(../images/icons/phone-mobile_24x24.png) no-repeat 0px 0px; padding-left:22px; height: 24px; line-height: 25px}                
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li .cp_email-sales { background:url(../images/icons/email_24x24.png) no-repeat 0px 0px; padding-left:27px; height: 24px; line-height: 25px}                
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li .cp_chat-sales { background:url(../images/icons/chat-ballon_24x24.png) no-repeat 0px 0px; padding-left:27px; height: 24px; line-height: 25px}                
.cp_masthead .cp_masthead_row2 .cp_masthead_nav li .cp_devresources { height: 24px; line-height: 25px}                
.cp_captcha-help { background:url(../images/icons/help_16x16.png) no-repeat 0px 0px; padding-left:22px; height: 24px; line-height: 25px}                
/*  Content Container  */
.cp_content_container { position:relative; z-index:10 !important; padding:20px; background:#fff; box-shadow:0px 2px 3px #bbb; overflow:auto;width:1160px}
p.cp_breadcrumb { margin:0 auto 3px 1px; padding:0; }
p.cp_breadcrumb a { margin:0 5px 0 0; padding:0 10px 0 0; font-size:11px; font-weight:normal; background:url(../images/breadcrumb_separator.png) right 6px no-repeat; }


/*  Buttons  */
input[type=submit] { border:1px solid #247bb1; border-radius:15px; padding:4px 9px; color:#FFF; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#0085c3; cursor:pointer;
	background-image: -moz-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#2b9ecf), to(#2377a9));
	background-image: -o-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: linear-gradient(top, #2b9ecf, #2377a9) !important;
}

span.cp_btn { color:#FFF; border:1px solid #247bb1; border-radius:15px; padding:4px 9px; margin-right:10px; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#0085c3; cursor:pointer;
	background-image: -moz-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#2b9ecf), to(#2377a9));
	background-image: -o-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: linear-gradient(top, #2b9ecf, #2377a9) !important;
}

span.cp_btn a, span.cp_btn a:link, span.cp_btn a:hover, span.cp_btn a:visited:hover { text-decoration:none; color:#FFF; }

span.disabled, input[disabled=disabled] { text-shadow:none; border:1px solid #ddd; border-radius:15px; padding:4px 9px; color:#bbb; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#ddd; cursor:default;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ddd));
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd) !important;
}

.button_bar_page { clear:both; margin:40px 0 0 0; padding:15px; text-align:center; border:1px solid #DDD; background:#EEE; border-radius:0 0 7px 7px; }

/*  General/Basic Text  */
.required { font-family:"MuseoDell-Bold"; color:#e51937; font-size:23px; margin:0; padding:0; line-height:11px !important; height:12px !important; vertical-align:bottom !important; }
.blue_text { color:#0085c3; }
.blue_text_modified { color:#0085c3; margin:0 0 10px 0; padding:0; clear:left; }
.gray_text { color:#AAA; }
.text_note { color:#AAA; font-size:12px; }
.text_error { color:#e51937; font-family:"MuseoSansDell-Bold" !important; }
.text_small { font-size:12px; }
.form_links_utility { font-size:12px; padding-left:7px; background:url(../images/bullet_arrow-head-right.png) 0px 5px no-repeat; }

/*  Sign UP CSS  */
.cloud_steps { height:90px; width:660px; margin:30px auto; padding:0; position:relative; text-align:center; vertical-align:bottom !important; }
.cloud_steps div.step_block { float:left; width:80px; height:90px; padding:0 15px; margin:0 auto; text-align:center; color:#666; position:relative; z-index:4; }
.cloud_steps div.step-notstarted { background:url(../images/progressbar/progressbar_circle-empty.png) bottom center no-repeat; }
.cloud_steps div.step-current { color:#0085c3; background:url(../images/progressbar/progressbar_triangle.png) bottom center no-repeat; }
.cloud_steps div.step-completed { color:#ccc; background:url(../images/progressbar/progressbar_circle-complete.png) bottom center no-repeat; }
.cloud_steps div.step_block strong { font-size:14px !important; }
.progress_bar { width:100%; z-index:2; margin:auto 0 0 0; padding:0; position:absolute; left:0; top:66px; border:1px solid #DDD; border-radius:2px; height:3px; }
.progress_bar_color { position:absolute; top:0; left:0; z-index:3; margin:0; padding:0; height:3px; background:#EEE;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ddd));
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
}
.step1 .progress_bar_color { width:9% !important; }
.step2 .progress_bar_color { width:26% !important; }
.step3 .progress_bar_color { width:41% !important; }
.step4 .progress_bar_color { width:57% !important; }
.step5 .progress_bar_color { width:75% !important; }
.step6 .progress_bar_color { width:100% !important; }

.signup_statusbar {position:relative; width:100%; margin-top:10px; height: 16px; border: 1px solid #cfced3; background-color: #ffffff; border-radius: 5px;}
.signup_statusbar .signup_statusbar_text {position: absolute; top: 2px; font-size: 10px; width: 200px; height: 14px; text-align: center;  z-index: 10px;} 
.signup_statusbar_blue {position: absolute; height: 16px; left: 0px; top: 0px; background-color: #ddf3f1; z-index: 5px; border-radius: 5px;}


span.greenBtn { 	
	background:#73b339;
	border:1px solid #73b339;
	background-image: -moz-linear-gradient(top, #84c547, #61a126);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#84c547), to(#61a126));
	background-image: -o-linear-gradient(top, #84c547, #61a126);
	background-image: linear-gradient(top, #84c547, #61a126) !important;
}

/*  Sign IN CSS  */
.cloud_signin_content { float:left; width:520px; margin:0 -560px 20px 0px; padding:0 20px 0 0; border-right:1px solid #DDD; }
.cloud_signin { margin:0 0 10px 10px; padding:0; width:450px; display:inline-block; }
.cloud_signin .cloud_container_content {padding: 10px 14px 14px 14px;}
.cloud_signin form {margin: 0; padding: 0;}
.cloud_signin h2 {margin: 0 0 6px 0; padding: 0; font-weight: bold; font-style: normal; font-size: 16px;}
.cloud_signin .cloud_formlabel {padding: 8px 0 2px 0; font-size:12px;}
.cloud_signin .cloud_formlinks {padding: 4px 0 2px 0; font-size:11px;}
.cloud_signin .cloud_formlinks a {color: #0085c3; text-decoration: none;}
.cloud_signin .cloud_formlinks a:hover {text-decoration: underline;}
.cloud_signin .cloud_formtxtinput {padding:0;}
.cloud_signin .cloud_signinput {width: 200px; font-size: 12px;}
.cloud_signin .cloud_rememberme {padding: 6px 0 2px 0; font-size: 12px;}


/*  Could CSS Rules - Right Pane Contents  */
#cloud_mycontainer_content { margin-bottom:20px; }
#cloud_mycontainer_toolbar { margin-bottom:1px; width:100%; height:34px; background-color:#f7f7f7; border:1px solid #ddd; border-radius:5px 5px 0 0; }
.cloud_mycontainer_toolbar_button { height:35px; width:98px; float:left; display:block; border-right:1px solid #DDD; }
.cloud_mycontainer_toolbar_buttonNewButton { height:26px; width:26px; float:left; display:block; border-right:1px solid #DDD; }
.cloud_mycontainer_toolbar_button:hover { background-color:#eee; }
.cloud_mycontainer_toolbar_button img { margin: 10px 12px 0 10px; }

#cloud_mycontainer_toolbarNewToolbar { margin-bottom:1px; width:100%; height:28px; background-color:#f7f7f7; border:1px solid #ddd; border-radius:5px 5px 0 0; }
.cloud_mycontainer_toolbar_buttonNewButton { height:28px; width:100px; float:left; display:block; border-right:1px solid #DDD; }
.cloud_mycontainer_toolbar_buttonNewButton:hover { background-color:#eee; }
.cloud_mycontainer_toolbar_buttonNewButton img { margin: 2px 2px 2px 2px; }


.cloud_mycontainer_datagrid { width:100%; border:1px solid #d8d9de; border-right:0px; font-size:11px; }
.cloud_mycontainer_datagrid_oddrow td { background-color:#f6f6f6; }
.cloud_mycontainer_datagrid_selected td { background-color:#b2daed; }
.cloud_mycontainer_datagrid_hover td { background-color:#fde0be; }

.cloud_mycontainer_datagrid th, .cloud_mycontainer_datagrid td { text-align:left; padding:4px 10px; border-right:1px solid #d8d9de; empty-cells:show; border-collapse:collapse; }
.cloud_mycontainer_datagrid th { font-weight:bold; background-color:#e4e8f1; border-bottom:1px solid #c8ccd8; font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; }
.cloud_mycontainer_datagrid td { }
.cloud_mycontainer_datagrid th img { float:right; margin:5px 0 0 0; }
.cloud_mycontainer_datagrid th a:link, .cloud_mycontainer_datagrid th a:active, .cloud_mycontainer_datagrid th a:visited { color:#000; }
.cloud_mycontainer_datagrid th a:hover, .cloud_mycontainer_datagrid th a:visited:hover { color:#0085c3; text-decoration:underline; }

.cloud_datagrid_col_icons { padding:4px; width:16px; } 
.cloud_datagrid_col_name { }
.cloud_datagrid_col_mine { }
.cloud_datagrid_col_size { text-align:right; white-space:nowrap;}
.cloud_datagrid_col_modified { }

.cloud_statusbar { position:relative; width:200px; height:16px; border:1px solid #cfced3; background-color:#ffffff; border-radius:5px; }
.cloud_statusbar .cloud_statusbar_text { position:absolute; top:2px; font-size:10px; width:200px; height:14px; text-align:center; z-index:10; }
.cloud_statusbar_blue { position:absolute; height:16px; left:0px; top:0px; background-color:#ddf3f1; z-index:5; border-radius:5px; }

#cloud_mycontainer_properties { min-width:600px; background-color:#f6f6f6; border:1px solid #d8d9de; border-radius:5px; }
.cloud_mycontainer_tabs { overflow:visible; height:33px; line-height:33px; padding-left:10px; border-bottom:1px solid #d8d9de; }
.cloud_mycontainer_tabs a { display:block; height:33px; float:left; color:#4c4d4f; padding:0px 10px; border-bottom:1px solid #d8d9de; border-right:1px solid #d8d9de; text-decoration:none; font-weight:normal; }
.cloud_mycontainer_tabs a:first-child { border-left:1px solid #d8d9de; }
.cloud_mycontainer_tabs a.on { color:#0085c3; background-color:#ffffff; border-bottom:1px solid #ffffff; }
.cloud_mycontainer_tabs a.off { color:#4c4d4f; }
.cloud_mycontainer_tabs a.off:hover { color:#0085c3; background-color: #eee; }

.cloud_mycontainer_tabs_title { float: right; display: inline; height: 33px; line-height: 33px; color: #717174; margin-right: 10px; border-bottom: 1px solid #d8d9de; }
.cloud_mycontainer_tabs_title span { font-family:"MuseoDell-Bold", Arial, Helvetica, sans-serif; font-weight:bold; color:#000; }
.cloud_mycontainer_properties_form { width:475px; display:table; }
.cloud_mycontainer_properties_content { background-color:#ffffff; padding:20px; border-bottom:1px solid #d8d9de; overflow:visible; }
.cloud_mycontainer_properties_button { text-align:right; padding:10px; overflow:visible; float:none; }
.cloud_mycontainer_prop_label { float:left; width:200px; height:22px; line-height:22px; margin:0 10px 8px 0; vertical-align:middle !important; display:block; color:#717174; text-align:right; }
.cloud_mycontainer_prop_input { float:left; width:200px; height:22px; line-height:22px; margin:0 0 8px 0; vertical-align:middle !important; }

/*  Standard Lightbox CSS  */
#mask { position: absolute !important; z-index: 9000; background-color: #717174; display: none; top: 0px; left: 0px; }
#cloud_lightboxes .window { position: absolute !important; width:auto; height:auto; display: none; z-index: 9999; background-color: #ffffff; -moz-border-radius: 12px; border-radius: 12px; overflow: hidden; }
#cloud_lightboxes .window .cloud_windows_body { padding: 15px; }
#cloud_lightboxes .window h3 { clear: both; margin:0px 0px 10px 0px; padding-top:10px; color: #0085c3; font-size: 18px !important; font-weight: normal; text-align: left; }
#cloud_lightboxes .close_blue_x { width: 22px; height: 20px; float: right; cursor:pointer; }


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html .cp_btn { padding: 8px 0 16px 0; }
*+html .btn { border:0 !important; background:none !important; margin:0 10px 0 0; padding:3px 5px 4px 5px; text-align:center; font-size:13px; height:23px; vertical-align:middle; font-weight:bold; color:#FFF; text-indent:-1px; font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; }
*+html .size_50 { background:url(../images/buttons_sprite.png) 0 0 no-repeat; width:50px; }
*+html .size_70 { background:url(../images/buttons_sprite.png) 0 -23px no-repeat !important; width:70px; }
*+html .size_90 { background:url(../images/buttons_sprite.png) 0 -46px no-repeat !important; width:90px; }
*+html .size_110 { background:url(../images/buttons_sprite.png) 0 -69px no-repeat !important; width:110px; }
*+html .size_130 { background:url(../images/buttons_sprite.png) 0 -92px no-repeat !important; width:130px; }
*+html .size_150 { background:url(../images/buttons_sprite.png) 0 -115px no-repeat !important; width:150px; }
*+html .size_50_green { background:url(../images/buttons_sprite_green.png) 0 0 no-repeat; width:50px; }
*+html .size_70_green { background:url(../images/buttons_sprite_green.png) 0 -23px no-repeat !important; width:70px; }
*+html .size_90_green { background:url(../images/buttons_sprite_green.png) 0 -46px no-repeat !important; width:90px; }
*+html .size_110_green { background:url(../images/buttons_sprite_green.png) 0 -69px no-repeat !important; width:110px; }
*+html .size_130_green { background:url(../images/buttons_sprite_green.png) 0 -92px no-repeat !important; width:130px; }
*+html .size_150_green { background:url(../images/buttons_sprite_green.png) 0 -115px no-repeat !important; width:150px; }


.pane_left_billing  { float:left; width:410px; margin:0 -660px 20px  20px; padding:0 40px 20px 0; border-right:1px solid #DDD; }
.pane_right_billing {             width:460px; margin:0  0 20px 460px; padding:0 0 20px 40px; display:inline-block; }
.pane_full_billing  {             width:920px; margin:0      0    0  20px; padding:0; }

.signup_directions { margin-top:-20px; margin-bottom:25px; }

.flexiGroupHeader {
    background-color: #F6F6F6;
    cursor: hand;
}
.flexiRow {
    background-color: #FFFFFF;
    cursor: hand;
}
.flexiCollapse {
    background:url(../images/usageReportIcons/collapse.png);
    background-repeat: no-repeat;
    background-position-y:50%;
    padding-left:20px !important;

}
.flexiExpand {
    background:url(../images/usageReportIcons/expand.png);
    background-repeat: no-repeat;
    background-position-y:50%;
    padding-left:20px !important;
}

/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
.cp_btn { border:none !important; background:none !important; margin:0; padding:4px 9px 3px 9px; text-align:center !important; font-size:13px; height:23px; font-weight:bold; color:#F90; text-indent:-1px; font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; }
.btn{ border: none !important;vertical-align: 0% !important;}
.size_50, span.size_50 { background:url(../images/buttons_sprite.png) 0 0 no-repeat !important; width:50px !important; }
.size_70, span.size_70 { background:url(../images/buttons_sprite.png) 0 -23px no-repeat !important; width:70px !important; }
.size_90, span.size_90 { background:url(../images/buttons_sprite.png) 0 -46px no-repeat !important; width:90px !important; }
.size_110, span.size_110 { background:url(../images/buttons_sprite.png) 0 -69px no-repeat !important; width:110px !important; }
.size_130, span.size_130 { background:url(../images/buttons_sprite.png) 0 -92px no-repeat !important; width:130px !important; }
.size_150, span.size_150 { background:url(../images/buttons_sprite.png) 0 -115px no-repeat !important; width:150px !important; }
.size_50_green, span.size_50_green { background:url(../images/buttons_sprite_green.png) 0 0 no-repeat !important; width:50px !important; }
.size_70_green, span.size_70_green { background:url(../images/buttons_sprite_green.png) 0 -23px no-repeat !important; width:70px !important; }
.size_90_green, span.size_90_green { background:url(../images/buttons_sprite_green.png) 0 -46px no-repeat !important; width:90px !important; }
.size_110_green, span.size_110_green { background:url(../images/buttons_sprite_green.png) 0 -69px no-repeat !important; width:110px !important; }
.size_130_green, span.size_130_green { background:url(../images/buttons_sprite_green.png) 0 -92px no-repeat !important; width:130px !important; }
.size_150_green, span.size_150_green { background:url(../images/buttons_sprite_green.png) 0 -115px no-repeat !important; width:150px !important; }
.disabled { background:none; }
span.cp_btn { padding:3px 4px 4px 4px;}
span.cp_btn a { padding:4px 4px 3px 4px;margin: 0 12px !important;}
input[type=submit].size_150 { padding: 0px 0px 0px 0px !important;}
input[type=submit] { padding: 0px 5px 0px 5px !important; line-height: 23px; text-align: center !important;}
input[disabled=disabled].size_110 {
    color:#bbb !important; 
    font-family:"MuseoSansDell-Bold" !important;     
    font-size:13px !important;
    background: url(../images/buttons_sprite.png) -150px -69px  no-repeat !important;
    width:110px !important;
    cursor:default;
}
}
