/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - Private - StaaS
	Point of Contact: Eric Nordquist
-------------------------------------------------------------- */

/*  Content Columns (inside Content Container)  */
.pane_left_staas { float:left; width:250px; margin:0 -270px 0 0; padding:0; }
.pane_right_staas { margin:0 0 0 270px; padding:0; }


/*  Could CSS Rules - Left Pane Contents  */
.panel_treenav_wrapper { margin:0 0 10px 0; padding:0; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }

.search_storage { height:18px; margin:10px; }
.search_storage input.search_field { margin:0; padding:0 0 0 5px; border:none; width:170px; height:16px; font-size:11px; background:url(../images/saas_search_field.png) top left no-repeat; vertical-align:text-bottom; }
.search_storage input.search_button { margin:0; padding:0; border:none; width:22px; height:18px; background:#FFF url(../images/saas_search_button.png) top left no-repeat; vertical-align:text-bottom; }

.left_pane_toolbar { height:18px; margin:10px 0 0 0; padding:10px; background:#FFF; border-top:1px solid #DDD; border-bottom:1px solid #DDD; font-family:"MuseoSansDell-Bold" !important; }
.left_pane_container_list { overflow:auto; background:#FFF; max-height:350px; font-size:11px; }
.left_pane_container_list ul { margin:0; padding:7px 0 0 33px; }
.left_pane_container_list ul li { list-style-image:url(../images/icons/box.png); list-style-position:outside; margin:0 0 3px 0; }
.left_pane_toolbar a, .left_pane_container_list li a { text-decoration:none; font-weight:normal; }
.left_pane_container_list li a:link, .left_pane_container_list li a:active, .left_pane_container_list li a:visited { color:#717174; text-decoration:none; }
.left_pane_container_list li a:hover, .left_pane_container_list li a:visited:hover { color:#0085c3; text-decoration:none; }
.panel_storage_status { margin:0; padding:10px; border-top:1px solid #e9e9e9; }
.panel_storage_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_upload_status { margin:0 0 10px 0; padding:10px; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }
.panel_upload_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_edit_link { float:right; margin:0; padding:0; width:25%; text-align:right; }

.storage_statusbar { position:relative; width:100%; margin-top:10px; height:16px; border:1px solid #cfced3; background-color:#fff; border-radius:5px;}
.storage_statusbar .storage_statusbar_text { position:absolute; top:2px; font-size:10px; width:200px; height:14px; text-align:center;  z-index:10px;} 
.storage_statusbar_blue { position:absolute; height:16px; left:0px; top:0px; background-color:#ddf3f1; z-index:5px; border-radius:5px;}

.panel_upload_status { margin:0 0 10px 0; padding:10px; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }
.panel_upload_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_edit_link { float:right; margin:0; padding:0; width:26%; text-align:right; }


/*  Could CSS Rules - Right Pane Contents  */
#cloud_mycontainer_content { margin-bottom:20px; }
#cloud_mycontainer_toolbar { margin-bottom:1px; width:100%; height:34px; background-color:#f7f7f7; border:1px solid #ddd; border-radius:5px 5px 0 0; }
.cloud_mycontainer_toolbar_button { height:35px; width:38px; float:left; display:block; border-right:1px solid #DDD; }
.cloud_mycontainer_toolbar_button:hover { background-color:#eee; }
.cloud_mycontainer_toolbar_button img { margin: 10px 12px 0 10px; }

.cloud_mycontainer_datagrid { width:100%; border:1px solid #d8d9de; border-right:0px; font-size:11px; }
.cloud_mycontainer_datagrid_oddrow td { background-color:#f6f6f6; }
.cloud_mycontainer_datagrid_selected td { background-color:#b2daed; }
.cloud_mycontainer_datagrid_hover td { background-color:#fde0be; }

.cloud_mycontainer_datagrid th, .cloud_mycontainer_datagrid td { text-align:left; padding:4px 10px; border-right:1px solid #d8d9de; empty-cells:show; border-collapse:collapse; }
.cloud_mycontainer_datagrid th { font-weight:bold; background-color:#e4e8f1; border-bottom:1px solid #c8ccd8; font-family:"MuseoSansDell-Bold"; }
.cloud_mycontainer_datagrid td { }
.cloud_mycontainer_datagrid th img { float:right; margin:5px 0 0 0; }
.cloud_mycontainer_datagrid th a:link, .cloud_mycontainer_datagrid th a:active, .cloud_mycontainer_datagrid th a:visited { color:#000; }
.cloud_mycontainer_datagrid th a:hover, .cloud_mycontainer_datagrid th a:visited:hover { color:#0085c3; text-decoration:underline; }

.cloud_datagrid_col_icons { padding:4px; width:16px; } 
.cloud_datagrid_col_name { }
.cloud_datagrid_col_mine { }
.cloud_datagrid_col_size { text-align:right; white-space:nowrap;}
.cloud_datagrid_col_modified { }

.cloud_statusbar { position:relative; width:200px; height:16px; border:1px solid #cfced3; background-color:#ffffff; border-radius:5px; }
.cloud_statusbar .cloud_statusbar_text { position:absolute; top:2px; font-size:10px; width:200px; height:14px; text-align:center; z-index:10; }
.cloud_statusbar_blue { position:absolute; height:16px; left:0px; top:0px; background-color:#ddf3f1; z-index:5; border-radius:5px; }

#cloud_mycontainer_properties { min-width:600px; background-color:#f6f6f6; border:1px solid #d8d9de; border-radius:5px; }
.cloud_mycontainer_tabs { overflow:visible; height:33px; line-height:33px; padding-left:10px; border-bottom:1px solid #d8d9de; }
.cloud_mycontainer_tabs a { display:block; height:33px; float:left; color:#4c4d4f; padding:0px 10px; border-bottom:1px solid #d8d9de; border-right:1px solid #d8d9de; text-decoration:none; font-weight:normal; }
.cloud_mycontainer_tabs a:first-child { border-left:1px solid #d8d9de; }
.cloud_mycontainer_tabs a.on { color:#0085c3; background-color:#ffffff; border-bottom:1px solid #ffffff; }
.cloud_mycontainer_tabs a.off { color:#4c4d4f; }
.cloud_mycontainer_tabs a.off:hover { color:#0085c3; background-color: #eee; }

.cloud_mycontainer_tabs_title { float: right; display: inline; height: 33px; line-height: 33px; color: #717174; margin-right: 10px; border-bottom: 1px solid #d8d9de; }
.cloud_mycontainer_tabs_title span { font-family:"MuseoDell-Bold"; font-weight:bold; color:#000; }
.cloud_mycontainer_properties_form { width:475px; display:table; }
.cloud_mycontainer_properties_content { background-color:#ffffff; padding:20px; border-bottom:1px solid #d8d9de; overflow:visible; }
.cloud_mycontainer_properties_button { text-align:right; padding:10px; overflow:visible; float:none; }
.cloud_mycontainer_prop_label { float:left; width:200px; height:22px; line-height:22px; margin:0 10px 8px 0; vertical-align:middle !important; display:block; color:#717174; text-align:right; }
.cloud_mycontainer_prop_input { float:left; width:200px; height:22px; line-height:22px; margin:0 0 8px 0; vertical-align:middle !important; }


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html #cloud_mycontainer_content { margin:0 0 20px 0; width:99%; }
*+html .search_storage { padding:10px; line-height:22px; }
*+html .search_storage input.search_field { margin-top:1px; }
*+html .search_storage input.search_button { margin-top:-1px; }
*+html .left_pane_toolbar a, .left_pane_container_list li a { padding-left:5px; _padding-left:5px; }


/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
}