/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - Private
	Point of Contact: Eric Nordquist
	CSS by: Matt Corcoran & Brian Cronk
-------------------------------------------------------------- */

/*  Main Navigation CSS  */
.cp_main_nav { margin:0 auto 0 auto; padding:0; border-radius:10px 10px 0 0; box-shadow:0px 2px 3px #bbb; position:relative; z-index:1 !important; width:1200px;
	background: url("../images/cloud_nav_background.png") top left repeat-x;
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#eee));
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}
.cp_main_nav ul { margin:0; padding:0 0 0 15px; list-style-type:none; }
.cp_main_nav li { margin:0 0 0 -4px; padding:0 !important; display:inline-block; border-left:1px solid #ddd; height:34px; list-style-type:none; }
.cp_main_nav li a { display:inline-block; margin:0; padding:10px 15px 10px 13px; font-weight:normal; font-size:12px; }
.cp_main_nav li a:link, .cp_main_nav li a:active, .cp_main_nav li a:visited { color:#717174; text-decoration:none; text-shadow: 0 1px #FFF; }
.cp_main_nav li a:hover, .cp_main_nav li a:visited:hover { color:#0085c3; text-decoration:none; background:#f3f3f3;
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ddd));
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(top, #fff, #ddd);
}
.cp_main_nav li.last a { background:url(../images/icons/add_16x16.png) 20px 10px no-repeat; height:16px !important; padding-left:38px; }
.cp_main_nav li.selected { background:#FFF; }
.cp_main_nav li.selected a { color:#0085c3; font-family:"MuseoSansDell-Bold"; background:#FFF; font-weight:bold; }
.cp_main_nav li.empty { border:none; }
.cp_main_nav div.cp_help { display:block; float:right; margin:0; padding:10px 15px 0 0; }
.cp_main_nav div.cp_help a { line-height:16px; vertical-align:top; text-decoration:none; font-family:"MuseoSansDell-Bold"; padding-left:20px; background:url(../images/icons/help_16x16.png) left no-repeat; }
.cp_main_nav div.cp_loggedUser { color:#0085c3; font-family:"MuseoSansDell-Bold"; display:block; float:right; margin:0; padding:10px 15px 0 0; }


/*  Content Containers CSS  */
.cp_content_container { position:relative; margin:0 auto 20px auto; border-radius:0 0 10px 10px; min-height:300px; }


/* Dashboard */

.cp_dashboard_layout_table {border: 0px; padding: 0px; margin: 0px;}
.cp_dashboard_layout_table .cp_main_nav {width: auto !important;}
.cp_dashboard_layout_table td {vertical-align: top;}
.cp_dashboard_layout_table .leftCol {width: 475px; padding-right: 20px;}
.cp_dashboard_layout_table .rightCol {width: 475px;}
.cp_dashboard_container {margin: 0px 0px 20px 0px; padding-bottom: 20px; box-shadow: 2px 2px 2px 0px #bbb; overflow:visible; border: 1px solid #ececec; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.cp_dashboard_container h2 {font-family:"MuseoDell-Bold", Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #aaaaaa; margin: 0px; padding: 10px; border: 1px solid #ececec; border-bottom: 0px; }
.cp_dashboard_container_body {padding: 18px 0px 20px 0px;}
.cp_dashboard_container_body_left {float: left; width: 49%; border-right: 1px solid #eeeeee; }
.cp_dashboard_container_body_right {float: left; width: 49%; }
.cp_dashboard_container_body_content {padding: 0px 20px;}
.cp_dashboard_container_body_content h3 {font-family:"MuseoSansDell", Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; margin: 0px 0px 8px 0px; padding: 0px;}
.cp_dashboard_container_body_content h4 {font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;  font-style: normal; color:#0085c3; margin: 0px 0px 10px 0px; padding: 0px;}
.cp_dashboard_container_body_content h5 {font-family:"MuseoSansDell", Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; color:#0085c3; margin: 0px 0px 4px 0px; padding: 0px;}
.cp_dashboard_container_body_content ul {margin: 10px 10px 10px 24px; padding: 0px;}
.cp_dashboard_container_body_content li {margin-bottom: 12px; padding: 0px;}
.cp_dashboard_container .cp_dashboard_videos_container {padding: 0px 0px 20px 0px; margin: 0px; overflow: visible;}
.cp_dashboard_container .cp_dashboard_videos_container p {padding: 0px; margin: 0px;}
.cp_dashboard_container .cp_dashboard_videos_icon {float: left; width: 84px;}
.cp_dashboard_container .cp_dashboard_videos_icon img{margin: 0px;}
.cp_dashboard_container .cp_dashboard_videos_content {margin-left: 88px; overflow: visible;}
.cp_dashboard_container .cp_dashboard_videos_last {padding: 0px 0px 0px 0px;}
.cp_dashboard_container .cp_dashboard_quicklink_container {clear: both; padding: 0px 0px 10px 0px; margin: 0px 0px 10px 0px; border-bottom: 1px solid #dddddd; overflow: visible;}
.cp_dashboard_container .cp_dashboard_quicklink_icon {float: left; width: 84px;}
.cp_dashboard_container .cp_dashboard_quicklink_icon img{margin: 0px 0px 0px 10px;}
.cp_dashboard_container .cp_dashboard_quicklink_content {margin-left: 88px;  overflow: visible;} 
.cp_dashboard_container .cp_dashboard_quicklink_last {border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
.cp_dashboard_container_main_nav { margin:0 auto 0 auto; padding:0; border-radius:10px 10px 0 0; box-shadow:0px 2px 3px #bbb; position:relative; z-index:1 !important; width: 939px;
	background: url("../images/cloud_nav_background.png") top left repeat-x;
    background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#eee));
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}

/*  Footer CSS  */
.cp_site_footer { clear:both; margin:0; padding:0 0 50px 0; }
.cp_footer_links { text-align:center; margin:0 20px; font-size:11px; }
.cp_footer_links li { display:inline; padding:0; margin:0; }
.cp_footer_links a { padding:0 10px; font-weight:bold; border-left:1px solid #ccc; font-weight:normal !important; }
.cp_footer_links a.first { border-left:none; }


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html .cp_main_nav { float:none; background: url(../images/cloud_nav_background.png) top left repeat-x; }
*+html .cp_main_nav ul { display:table; min-width:500px; }
*+html .cp_main_nav li { float:left; margin-left:0; }


/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
.cp_main_nav { background: url(../images/cloud_nav_background.png) top left repeat-x; }
.cp_main_nav ul { background: url(../images/cloud_nav_corner-left.png) top left no-repeat; }
.cp_main_nav div.help { background: url(../images/cloud_nav_corner-right.png) top right no-repeat; }
}