﻿/* File Created: June 12, 2012 */
#container
{
    height: 100%;
    padding: 2px;
}

.productColumn, .selectedproductColumn
{
    /*margin: 0 2px 0 10px; /* Puts a 10 pixel space between columns (left side) - think cellspacing */
    /* width: 18%; -- NOT REQUIRED NOW /* Allows for fluid design. Can be set to pixels */
    /*float: left;*/
}

div.blockTitle
{
    color: #ffffff;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 14px 14px 0px 0px;
    -moz-border-radius: 14px 14px 0px 0px;
    border-radius: 14px 14px 0px 0px;
    border-bottom: 1px solid #ffffff;
    background-color: #278bbd;        
    background-image: -moz-linear-gradient(top, #2a9ecf, #2c78aa);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#2a9ecf), to(#2c78aa));
    background-image: -o-linear-gradient(top, #2a9ecf, #2c78aa);
    background-image: linear-gradient(top, #2a9ecf, #2c78aa) !important;
    min-height: 60px;
    padding-top: 15px;
    height: 70px;
}

div.blockPriceText {
    font-size: 18px;	
}

div.blockPriceTextSmall {
    font-size: 13px;	
}

div.blockButton
{
    overflow: hidden;
    background: #e7e7e7;        
    padding: 10px 0px 10px 0px;
    float: none;
    display:block;
    height:30px;
    text-align: center;
    -webkit-border-radius: 0px 0px 14px 14px;
    -moz-border-radius: 0px 0px 14px 14px;
    border-radius: 0px 0px 14px 14px;
    background-image: -moz-linear-gradient(top, #dbdddc, #eeeeee);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#dbdddc), to(#eeeeee));
    background-image: -o-linear-gradient(top, #dbdddc, #eeeeee);
    background-image: linear-gradient(top, #dbdddc, #eeeeee) !important;
}

div.blockButtonTop
{       
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;     
}

div.blockButton span
{
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 23px;
    margin: 0px 0px 0px 0px !important;
    display: inline-block;      
}

div.blockBody {
    background-color: #fafafa;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;   
}

div.block
{
    padding: 12px 0px;
    border-bottom: 1px solid #eeeeee;
    height: 25px;
}

div.blockBold
{
    padding: 12px 0px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    font-weight: bold;
}

input.button
{
    background: yellowgreen;
    border: yellowgreen;
}
    
/* Note: adding larger margins or padding to columns requires that you decrease the width setting proportionally, 
that is why the width is currently set to 18%. If you add padding to the container, the same applies. */
.selectedproductColumn .blockTitle{
    background-color: #f9a423;        
    background: -moz-linear-gradient(top, #fdb717, #f89b31);
    background: -webkit-gradient(linear, center top, center bottom, from(#fdb717), to(#f89b31));
    background: -o-linear-gradient(top, #fdb717, #f89b31);
    background: -ms-linear-gradient(#fdb717, #f89b31);/*For IE10*/ 		
    background: linear-gradient(top, #fdb717, #f89b31) !important;
}

.selectedproductColumn .blockBody {background-color: #fef7e4;}