﻿/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - Private - vCloud
	Point of Contact: Eric Nordquist
	CSS by: Matt Corcoran & Brian Cronk
-------------------------------------------------------------- */

/*  Account Sub-nav CSS  */
.vcloud .cp_sub_nav { margin:0 0 20px 0; padding:0 0 10px 0; list-style-type:none; border-bottom:1px solid #EEE; }
.vcloud .cp_sub_nav li { margin:0; padding:0 !important; display:inline-block; list-style-type:none; }
.vcloud .cp_sub_nav li a { display:inline-block; margin:0; padding:10px; font-weight:normal; font-size:12px; border-radius:5px; }
.vcloud .cp_sub_nav li a:link, .cp_sub_nav li a:active, .cp_sub_nav li a:visited { color:#717174; text-decoration:none; text-shadow: 0 1px #FFF; }
.vcloud .cp_sub_nav li a:hover, .cp_sub_nav li a:visited:hover { color:#0085c3; text-decoration:none; background-color:#f6f6f6; }
.vcloud .cp_sub_nav li.selected a { color:#0085c3; font-family:"MuseoSansDell-Bold"; background-color:#f6f6f6; font-weight:bold; }
.vcloud .cp_sub_nav .cp_my-profile { background:url(../images/icons/my-profile_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.vcloud .cp_sub_nav .cp_billing { background:url(../images/icons/billing_16x16.png) 10px 10px no-repeat; padding-left:32px; }
.vcloud .cp_sub_nav .cp_subscriptions { background:url(../images/icons/icon_myaccount_subscription_on.png) 10px 10px no-repeat; padding-left:36px; }
.vcloud .cp_sub_nav .cp_reports { background:url(../images/icons/reports_16x16.png) 10px 10px no-repeat; padding-left:32px; }
.vcloud .cp_sub_nav .cp_users { background:url(../images/icons/users_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.vcloud .cp_sub_nav .cp_support{ background:url(../images/icons/support_16x16.png) 10px 10px no-repeat; padding-left:30px; }

/*  vCloud Organizations List */
.vCloud_role_filter { display:none !important; visibility:hidden !important;}
/* .vCloud_role_filter { margin:0 0 20px 0; padding: 10px; font-weight: bold; background-color: #f5f5f5; border: 1px solid #EEE; border-radius: 8px 8px 0px 0px; -moz-border-radius: 8px 8px 0px 0px;} */
.vCloud_role_table {width: 100%; margin: 20px 0px;}
.vCloud_role_table th {text-align: left; padding: 4px 10px; background-color: #e5f3f9; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;}
.vCloud_role_table th:first-child {text-align: left;}
.vCloud_role_table td {padding: 4px 10px; border-bottom: 1px solid #dddddd;}

/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html #SAMPLE-ID { margin:0 0 20px 0; width:99%; }
*+html .SAMPLE-CLASS { padding:10px; line-height:22px; }

/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {

}