/* -----------------------------------------------------------
    CSS for Dell Lucidity Design Language
	v1.7.1 - Cloud - Private - Account
	Point of Contact: Eric Nordquist
	CSS by: Matt Corcoran & Brian Cronk
-------------------------------------------------------------- */

/*  Account Sub-nav CSS  */
.account .cp_sub_nav { margin:0 0 20px 0; padding:0 0 10px 0; list-style-type:none; border-bottom:1px solid #EEE; }                       
.account .cp_sub_nav li { margin:0; padding:0 !important; display:inline-block; list-style-type:none; }
.account .cp_sub_nav li a { display:inline-block; margin:0; padding:10px; font-weight:normal; font-size:12px; border-radius:5px; }
.account .cp_sub_nav li a:link, .cp_sub_nav li a:active, .cp_sub_nav li a:visited { color:#717174; text-decoration:none; text-shadow: 0 1px #FFF; }
.account .cp_sub_nav li a:hover, .cp_sub_nav li a:visited:hover { color:#0085c3; text-decoration:none; background-color:#f6f6f6; }
.account .cp_sub_nav li.selected a { color:#0085c3; font-family:"MuseoSansDell-Bold"; background-color:#f6f6f6; font-weight:bold; }
.account .cp_sub_nav .cp_my-profile { background:url(../images/icons/my-profile_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.account .cp_sub_nav .cp_billing { background:url(../images/icons/billing_16x16.png) 10px 10px no-repeat; padding-left:32px; }
.account .cp_sub_nav .cp_subscriptions { background:url(../images/icons/icon_myaccount_subscription_on.png) 10px 10px no-repeat; padding-left:36px; }
.account .cp_sub_nav .cp_reports { background:url(../images/icons/reports_16x16.png) 10px 10px no-repeat; padding-left:32px; }
.account .cp_sub_nav .cp_users { background:url(../images/icons/users_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.account .cp_sub_nav .cp_support { background:url(../images/icons/support_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.account .cp_sub_nav .cp_logs { background:url(../images/icons/logs_16x16.png) 10px 10px no-repeat; padding-left:30px; }
.account .cp_sub_nav .cp_vcloudusers { background:url(../images/icons/vclouduser_16x16.png) 10px 10px no-repeat; padding-left:32px; }

/* Products Catalog Navigation CSS */
.forum .cp_sub_nav { margin:0 0 20px 0; padding:0 0 10px 0; list-style-type:none; border-bottom:1px solid #EEE; }                       
.forum .cp_sub_nav li { margin:0; padding:0 !important; display:inline-block; list-style-type:none; }
.forum .cp_sub_nav li a { display:inline-block; margin:0; padding:10px; font-weight:normal; font-size:12px; border-radius:5px; }
.forum .cp_sub_nav li a:link, .cp_sub_nav li a:active, .cp_sub_nav li a:visited { color:#717174; text-decoration:none; text-shadow: 0 1px #FFF; }
.forum .cp_sub_nav li a:hover, .cp_sub_nav li a:visited:hover { color:#0085c3; text-decoration:none; background-color:#f6f6f6; }
.forum .cp_sub_nav li.selected a { color:#0085c3; font-family:"MuseoSansDell-Bold"; background-color:#f6f6f6; font-weight:bold; }

.forum .cp_sub_nav .cp_createForum { background:url(../images/common/Forum_16x16.png) 10px 10px no-repeat; padding-left:32px; }
.forum .cp_sub_nav .cp_createForumCategory { background:url(../images/common/Category_16x16.png) 10px 10px no-repeat; padding-left:32px; }


/* vCloudUser flexigrid buttons CSS */
.vcuFlexiGrid .vcu_fg_bttn .cp_vcloudusers_delete { background:url(../images/icons/vclouduser_delete_16x16.png) 10px 10px no-repeat; }

/*  Content Columns (inside Content Container)  */
.edit-user { position:relative; overflow:auto !important; }
.edit-user .column1 { float:left; width:45%; margin-bottom:30px; }
.edit-user .column2 { float:left; width:45%; margin-bottom:30px; margin-left:30px; }

.text_float_right { float:right; text-align:right; margin-top:15px; }

/*  Profile Details Form CSS  */
.form_profile .form_label { text-align:right; vertical-align:middle; padding:3px 7px 3px 3px; width:40%; }
.form_profile .form_field { text-align:left; vertical-align:middle; padding:3px; width:60%; }
.form_profile .form_field select { width:100%; }

.form_profilePopup .form_label { text-align:right; vertical-align:top; padding:3px 7px 3px 3px; width:50%; }
.form_profilePopup .form_field { text-align:right; vertical-align:middle; padding:3px; width:50%; }
.form_profilePopup .form_field select { width:100%; }

/*  Roles for this User Form CSS  */
.form_roles { width:100%; }
.form_roles th { text-align:left; font-family:"MuseoSansDell-Bold"; vertical-align:middle; background:#e9eef4; padding:7px; border-bottom:1px solid #EEE; }
.form_roles .form_label_title { text-align:left; font-family:"MuseoSansDell-Bold"; width:200px; border-bottom:1px solid #EEE; padding:7px; }
.form_roles .form_label, .form_roles .form_label_internal { text-align:right; padding:7px; border-bottom:1px solid #EEE; }
.form_roles .form_field, .form_roles .form_field_internal { border-bottom:1px solid #EEE; padding-left:7px; }
.no-border, .form_roles .form_label_internal, .form_roles .form_field_internal { border:none !important; }
.form_roles .checkbox_label { margin:0 15px 0 3px; }

/*  Role Lightboxes */
.cloud_role_table {width:780px; font-size: .9em;}
.cloud_role_table th {text-align: center; padding: 4px 5px; width: 25%; background-color: #e5f3f9; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;}
.cloud_role_table th:first-child {text-align: left;}
.cloud_role_table td {padding: 1px 5px; border-bottom: 1px solid #dddddd;}
.cloud_role_table_checkmark {width: 20px; height: 20px; margin: auto; background: transparent url(../images/icons/checkmark_nobgnd.png) no-repeat center;}

/*  Logs Form  */
.datepicker_field { width:80px !important; }


/*  Support - Content Columns (inside Content Container)  */
.cloud-support { position:relative; overflow:visible !important; }
.cloud-support .column1 { float:left; width:60%; margin-bottom: 30px; }
.cloud-support .column1 h3 {margin: 0px 0px 10px 0px; padding: 0px;}
.cloud-support .column2 { float:left; width:40%; margin-bottom: 30px; margin-left:30px; }
.cloud-support .support-level {font-weight: bold;}
.cloud-support .btn-left-margin {margin-left: 20px;}
.support-block {border-bottom: 1px solid #dddddd; padding: 10px 10px 10px 80px;}
.support-block h3 {margin: 0px; padding: 0px;}
.support-call {background:url(../images/icons/phone-mobile_48x48.png) no-repeat left; }
.support-chat {background:url(../images/icons/chat_48x48.png) no-repeat left;}
.support-forums {background:url(../images/icons/forums_48x48.png) no-repeat left;}
.support-resources {background:url(../images/icons/resources_48x48.png) no-repeat left;}
.support-FAQ {background:url(../images/icons/faq_48x48.png) no-repeat left;}


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html #SAMPLE-ID { margin:0 0 20px 0; width:99%; }
*+html .SAMPLE-CLASS { padding:10px; line-height:22px; }
*+html .account .cp_sub_nav li { display:inline; } 

/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
}

input[disabled=disabled].UserSelectionAlignment 
{
    margin-left: -7px\9 !important;   
}


/* Classes for the Usage grid */
.css_grid_disclaimer {font-size: 10px; font-style: italic; text-align:justify;}

.css_grid_rowLevelOne   {font-family: MuseoDell;font-size: 18px;color: rgb(40,40,40); background-color: rgb(233,238,244) }
.css_grid_rowLevelTwo   {font-family: MuseoDell;font-size: 14px;color: rgb(40,40,40); background-color: rgb(246,246,246) }
.css_grid_rowLevelThree {font-family: MuseoDell;font-size: 12px;color: rgb(40,40,40); background-color: rgb(255,255,255) }

.css_grid_colHeaderLevelOne   {font-family: MuseoDell;font-weight: bold; font-size: 16px;color: rgb(240,240,240); background-color: rgb(46,46,46) }
.css_grid_colHeaderLevelTwo   {font-family: MuseoDell;font-weight: bold; font-size: 14px;color: rgb(240,240,240); background-color: rgb(46,46,46) }
.css_grid_colHeaderLevelThree   {font-family: MuseoDell;font-weight: bold; font-size: 12px;color: rgb(240,240,240); background-color: rgb(46,46,46) }

.css_grid_colHeaderLevelOne_Gray   {font-family: MuseoSansDell-Bold;font-weight: bold; font-size: 15px;color: rgb(40,40,40); background-color:rgb(246,246,246) }
.css_grid_colHeaderLevelTwo_Gray   {font-family: MuseoSansDell-Bold;font-weight: bold; font-size: 13px;color: rgb(40,40,40); background-color: rgb(246,246,246) }
.css_grid_colHeaderLevelThree_Gray   {font-family: MuseoSansDell-Bold;font-weight: bold; font-size: 11px;color: rgb(40,40,40); background-color: rgb(246,246,246) }

.css_grid_DeletedRow   {font-family: MuseoSansDell-Bold;font-size: 14px;color: rgb(40,40,40); background-color: rgb(255,235,235) }
.css_grid_EditedRow   {font-family: MuseoSansDell-Bold;font-size: 14px;color: rgb(40,40,40); background-color: rgb(230,230,230) }

.css_grid_rowFinal {
    font-family: MuseoDell-Bold;
    font-size: 18px;
    color: rgb(40,40,40);
    background-color: rgb(229, 229, 229);
}

.css_grid_headerStyle {
    font-family: MuseoDell-Bold;
    font-size: 11px;
    color: rgb(0,0,0);
    background-color: rgb(229, 229, 229);
    text-align: center;
    vertical-align: bottom;
}

.ovalbutton {
    background: transparent url('../images/blue_oval_button.png') no-repeat top left;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 900;
    color: black;
    height: 25px;
    width: 124px;
    border: none;
    text-decoration: none;
}
