/* -----------------------------------------------------------
    CSS for Dell Cloud Lucidity Design Language (v 1.6)
	Point of Contact: Eric Nordquist
-------------------------------------------------------------- */

/*  General CSS Rules  */
@font-face { font-family:MuseoDell; src:url(../fonts/MuseoForDell-Regular.ttf); }
@font-face { font-family:MuseoDell-Bold; src:url(../fonts/MuseoForDell-Bold.ttf); }
@font-face { font-family:MuseoSansDell; src:url(../fonts/MuseoSansForDell-Regular.ttf); }
@font-face { font-family:MuseoSansDell-Bold; src:url(../fonts/MuseoSansForDell-Bold.ttf); }
html { width:100%; height:100%; }
html, form, input, textarea, select, option { color:#4e4e50; font-size:13px; font-family:"MuseoSansDell", Arial, Helvetica, sans-serif !important; }
body { padding:0; margin:0; background:#EEE; }
a:link, a:active, a:visited { text-decoration:none; color:#0085c3; }
a:hover, a:visited:hover { text-decoration:underline; color:#0085c3; }
img { border:0; }
h1 { float:left; margin:10px auto 10px 20px; padding:0; text-indent:50px; font-family:"MuseoDell", Arial, Helvetica, sans-serif; color:#717174; font-size:17px; font-weight:normal; text-align:left; line-height:45px; vertical-align:top; }
h2 { color:#4c4d4f; font-size:28px; font-weight:normal; margin:0 0 13px 0; padding:0; font-family:"MuseoDell-Bold"; }
h3, h4, h5, h6 { font-weight:normal; }
h3 { font-size:24px; color:#4c4d4f; margin-top:0; }
h4 { font-size:21px; color:#4c4d4f; margin:0 0 10px 0; padding:0; clear:left; }
h5 { font-size:18px; color:#4c4d4f; }
h6 { font-size:14px; color:#4c4d4f; }
p { margin:0 0 10px 0; padding:0; }
strong, b { font-family:"MuseoSansDell-Bold"; }


/*  Masthead CSS  */
.saas_masthead { display:block;	-moz-box-shadow:0px 2px 5px #bbb; -webkit-box-shadow:0px 2px 3px #bbb; box-shadow:0px 2px 3px #bbb; background:#FFF; }
.saas_masthead .saas_masthead_row1 { font-size:11px; border-bottom:1px solid #dadada; margin:0; padding:6px 0; }
.saas_masthead .saas_masthead_row1 .country { margin:0 0 0 20px; padding:0; width:250px; }
.saas_masthead .saas_masthead_row1 .country select { font-size:11px; }
.saas_masthead .saas_masthead_row1 .utility_nav { float:right; margin:0 20px 0 auto; padding:0; position:relative; z-index:20; }
.saas_masthead .saas_masthead_row1 .utility_nav p { margin:0; padding:0; }
.saas_masthead .saas_masthead_row1 .utility_nav .profile { border-right:1px solid #ccc; padding-right:15px; }
.saas_masthead .saas_masthead_row1 .utility_nav .links a { margin-left:10px; }
.saas_masthead .saas_masthead_row2 { padding:0; margin:0; display:table; text-align:right; width:100%; }
.saas_masthead .saas_masthead_row2 .saas_masthead_nav { height:42px; width:550px; margin:20px 20px 0 auto; padding:0; position:relative; }


/*  Main Navigation CSS  */
.saas_main_nav { margin:20px 20px 0 20px; padding:0; border-radius:10px 10px 0 0; box-shadow:0px 2px 3px #bbb; position:relative; z-index:1 !important;
	background: url("../images/cloud_nav_background.png") top left repeat-x;
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#eee));
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}
.saas_main_nav ul { margin:0; padding:0 0 0 15px; list-style-type:none; }
.saas_main_nav li { margin:0 0 0 -4px; padding:0 !important; display:inline-block; border-left:1px solid #ddd; height:34px; list-style-type:none; }
.saas_main_nav li a { display:inline-block; margin:0; padding:10px 15px 10px 13px; font-weight:normal; font-size:12px; }
.saas_main_nav li a:link, .saas_main_nav li a:active, .saas_main_nav li a:visited { color:#717174; text-decoration:none; text-shadow: 0 1px #FFF; }
.saas_main_nav li a:hover, .saas_main_nav li a:visited:hover { color:#0085c3; text-decoration:none; background:#f3f3f3;
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ddd));
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(top, #fff, #ddd);
}
.saas_main_nav li.last a { background:url(../images/icons/add_16x16.png) 20px 9px no-repeat; height:16px !important; padding-left:38px; }
.saas_main_nav li.selected { background:#FFF; }
.saas_main_nav li.selected a { color:#0085c3; font-family:"MuseoSansDell-Bold"; background:#FFF; font-weight:bold; }
.saas_main_nav li.empty { border:none; }
.saas_main_nav div.help { display:block; float:right; margin:0; padding:10px 15px 0 0; }
.saas_main_nav div.help a { line-height:16px; vertical-align:top; text-decoration:none; font-family:"MuseoSansDell-Bold"; padding-left:20px; background:url(../images/icons/help_16x16.png) left no-repeat; }


/*  Content Containers CSS  */
.saas_content_container { position:relative; z-index:10 !important; padding:20px; background:#fff; box-shadow:0px 2px 3px #bbb; overflow:auto; }
.public { margin:20px auto; border-radius:10px; width:960px; }
.private { margin:0 20px 20px 20px; border-radius:0 0 10px 10px; }

.pane_left_signup { float:left; width:350px; margin:0 -560px 20px  20px; padding:0; border-right:1px solid #DDD; }
.pane_right_signup {            width:520px; margin:0      0 20px 390px; padding:0; display:inline-block; }
.pane_full_signup { width:920px; margin:0 0 20px 0; padding:0; }

.pane_left_staas { float:left; width:250px; margin:0 -270px 0 0; padding:0; }
.pane_right_staas { margin:0 0 0 270px; padding:0; }

.public .pane_left_50 { float:left; width:430px; margin:0 -480px 0 0; padding:0 40px 20px 0; border-right:1px solid #DDD; }
.public .pane_right_50 { margin:0 0 0 480px; width:430px; padding:0 0 20px 40px; }



/*  Footer CSS  */
.saas_site_footer { clear:both; margin:0; padding:0 0 50px 0; border-top:1px solid #e1e1e1; background:#FFF; }
.saas_site_footer p { margin:5px; padding:0; color:#FFF; font-size:12px; line-height:24px; }
.saas_site_footer_sitemap { margin:0 auto 20px auto; padding:0 0 0 50px; width:90% }
.saas_site_footer_sitemap .saas_sitemap_section { display:inline-block; font-size:11px; margin:10px 7px; padding:0; width:18%; float:left; list-style-type:none; }
.saas_site_footer_sitemap .saas_sitemap_section h5 { color:#626366; font-size:15px; font-weight:bold; margin:0 auto 7px auto; padding:0; font-family:"MuseoSansDell-Bold" !important; }
.saas_site_footer_sitemap .saas_sitemap_section ul { display:inline-block; font-size:11px; margin:0 auto; padding:0; float:left; list-style-type:none; }
.saas_sitemap_section ul li { margin-bottom:7px; }
.saas_site_footer_sitemap a:link, .saas_site_footer_sitemap a:active, .saas_site_footer_sitemap a:visited { text-decoration:none; color:#717174; }
.saas_site_footer_sitemap a:hover, .saas_site_footer_sitemap a:visited:hover { text-decoration:underline; color:#0085c3; }
p.saas_footer_copyright { clear:left; margin:0 20px; padding:20px 0 10px 0; text-align:center; font-size:11px; color:#717174; border-top:1px solid #DDD; }
.saas_footer_links { text-align:center; margin:0 20px; font-size:11px; }
.saas_footer_links li { display:inline; padding:0; margin:0; }
.saas_footer_links a { padding:0 10px; font-weight:bold; border-left:1px solid #ccc; font-weight:normal !important; }
.saas_footer_links a.first { border-left:none; }


/*  Sign IN CSS  */
.saas_signin {width:350px !important; color: #343434; margin:30px auto; background: #ffffff url(../images/saas_container_signin_bs.gif) repeat-x bottom left !important;}
.saas_signin .saas_container_content {padding: 10px 14px 14px 14px;}
.saas_signin form {margin: 0; padding: 0;}
.saas_signin h2 {margin: 0 0 6px 0; padding: 0; font-weight: bold; font-style: normal; font-size: 16px;}
.saas_signin .saas_formlabel {padding: 8px 0 2px 0; font-size:12px;}
.saas_signin .saas_formlinks {padding: 4px 0 2px 0; font-size:11px;}
.saas_signin .saas_formlinks a {color: #0085c3; text-decoration: none;}
.saas_signin .saas_formlinks a:hover {text-decoration: underline;}
.saas_signin .saas_formtxtinput {padding:0;}
.saas_signin .saas_signinput {width: 200px; font-size: 12px;}
.saas_signin .saas_rememberme {padding: 6px 0 2px 0; font-size: 12px;}


/*  Sign UP CSS  */
.saas_steps { height:90px; width:660px; margin:30px auto; padding:0; position:relative; text-align:center; vertical-align:bottom !important; }
.saas_steps div.step_block { float:left; width:80px; height:90px; padding:0 15px; margin:0 auto; text-align:center; color:#666; position:relative; z-index:4; }
.saas_steps div.step-notstarted { background:url(../images/progressbar/progressbar_circle-empty.png) bottom center no-repeat; }
.saas_steps div.step-current { color:#0085c3; background:url(../images/progressbar/progressbar_triangle.png) bottom center no-repeat; }
.saas_steps div.step-completed { color:#ccc; background:url(../images/progressbar/progressbar_circle-complete.png) bottom center no-repeat; }
.saas_steps div.step_block strong { font-size:14px !important; }
.progress_bar { width:100%; z-index:2; margin:auto 0 0 0; padding:0; position:absolute; left:0; top:66px; border:1px solid #DDD; border-radius:2px; height:3px; }
.progress_bar_color { position:absolute; top:0; left:0; z-index:3; margin:0; padding:0; height:3px; background:#EEE;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ddd));
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
}
.step1 .progress_bar_color { width:9% !important; }
.step2 .progress_bar_color { width:26% !important; }
.step3 .progress_bar_color { width:41% !important; }
.step4 .progress_bar_color { width:57% !important; }
.step5 .progress_bar_color { width:75% !important; }
.step6 .progress_bar_color { width:100% !important; }

.signup_statusbar {position:relative; width:100%; margin-top:10px; height: 16px; border: 1px solid #cfced3; background-color: #ffffff; border-radius: 5px;}
.signup_statusbar .signup_statusbar_text {position: absolute; top: 2px; font-size: 10px; width: 200px; height: 14px; text-align: center;  z-index: 10px;} 
.signup_statusbar_blue {position: absolute; height: 16px; left: 0px; top: 0px; background-color: #ddf3f1; z-index: 5px; border-radius: 5px;}

form.form_sign-up { margin:0; padding:0; overflow:visible; }
.form_firstname, .form_firstname input, .form_lastname, .form_lastname input { float:left; width:93px; margin:0 20px 10px 0; }
.form_admin_firstname, .form_admin_firstname input, .form_admin_lastname, .form_admin_lastname input { float:left; width:93px; margin:0 20px 10px 0; }
.form_mi, .form_mi input { float:left; width:24px; margin:0 20px 10px 0; }
.form_address, .form_address input { clear:left; width:250px; margin:0 20px 10px 0; }
.form_address span.tiptext { font-size:11px; color:#666; }
.form_city, .form_city input { float:left; width:70px; margin:0 20px 10px 0; }
.form_state, .form_state select { float:left; width:165px; margin:0 20px 10px 0; }
.form_zip, .form_zip input { clear:left; float:left; width:70px; margin:0 5px 10px 0; }
.form_zipsep { float:left; width:10px; text-align:center; margin:0 2px; line-height:50px; vertical-align:bottom; }
.form_zipext, .form_zipext input { float:left; width:70px; margin:0 0 10px 0; }
.form_email, .form_email input { clear:left; width:250px; margin:0 0 10px 0;  }
.form_phone, .form_phone input { clear:left; width:250px; margin:0 0 10px 0;  }
.form_email span.tiptext { font-size:11px; color:#666; }
.form_password, .form_password input { clear:left; width:250px; margin:0 20px 10px 0; }
.form_password-tip { float:right; font-size:11px; color:#666; width:210px; margin:0 15px 0 0; padding:5px; border:1px solid #eee; line-height:12px; background:#f6f6f6; border-radius:5px; }
.form_password-tip ul { margin:5px; padding:0 0 0 20px; }
.form_password-confirm, .form_password-confirm input { clear:left; float:left; width:250px; margin:0 20px 10px 0; }
.form_checkbox-single { clear:left; width:380px; margin:0 0 20px 0; padding:10px 0 0 0; }
.form_checkbox-single input[type="checkbox"] { padding-left:0; margin-left:0; }
.form_p { clear:left; margin:20px 0 !important; padding:0; font-family:"MuseoSansDell-Bold"; }
.form_sign-up_buttons { clear:both; margin:20px 0 0 0; padding:15px; text-align:center; border-top:1px solid #DDD; background:#f6f6f6; border-radius:0 0 10px 10px; }
.form_sign-up_buttons input { margin-right:20px; }
.form_general { margin:0 0 20px 0; padding:0; }
.form_general input { width:250px; }
.required { font-family:"MuseoDell-Bold"; color:#e51937; font-size:23px; margin:0; padding:0; line-height:11px !important; height:12px !important; vertical-align:bottom !important; }

input[type=submit] { border:1px solid #247bb1; border-radius:15px; padding:4px 9px; color:#FFF; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#0085c3; cursor:pointer;
	background-image: -moz-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#2b9ecf), to(#2377a9));
	background-image: -o-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: linear-gradient(top, #2b9ecf, #2377a9) !important;
}

input[disabled=disabled] { text-shadow:none; border:1px solid #ddd; border-radius:15px; padding:4px 9px; color:#bbb; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#ddd; cursor:default;
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ddd));
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd) !important;
}

span.btn { border:1px solid #247bb1; border-radius:15px; padding:4px 9px; margin-right:10px; font-family:"MuseoSansDell-Bold" !important; font-size:13px; background:#0085c3; cursor:pointer;
	background-image: -moz-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#2b9ecf), to(#2377a9));
	background-image: -o-linear-gradient(top, #2b9ecf, #2377a9);
	background-image: linear-gradient(top, #2b9ecf, #2377a9) !important;
}

span.btn a, span.btn a:link, span.btn a:hover, span.btn a:visited:hover { text-decoration:none; color:#FFF; }

.edit_button { float:right; margin:7px 40px 0 0; background:url(../images/buttons_sprite.png) 0 0 no-repeat !important; width:50px; text-align:center; }
.edit_button a { color:#FFF !important; line-height:23px; font-family:"MuseoSansDell-Bold" !important; vertical-align:middle !important; }

.signup_products { width:560px; margin:0 auto; padding:0; }
.signup_products div { clear:left; margin:0 0 20px 0; display:table; border-top:1px solid #eee; padding-top:30px; }
.signup_products div input { float:left; margin:28px 0 0 0; padding:0 5px 0 0; vertical-align:middle; }
.signup_products div img { float:left; margin:0 10px 0 0; padding:0; }
.signup_products div p { float:right; width:450px; margin:5px 0 30px 0; padding:0; }
.signup_products div p strong { font-size:18px }

.signup_products div.terms { clear:left; margin:0 0 20px 0; border-top:1px solid #eee; width:100%; }
.signup_products div.terms input { margin:0 15px 20px 0; padding:0; }

/*  Could CSS Rules - Left Pane Contents  */
.panel_treenav_wrapper { margin:0 0 10px 0; padding:0; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }

.search_storage { height:18px; margin:10px; }
.search_storage input.search_field { margin:0; padding-left:5px; border:none; width:170px; height:16px; font-size:11px; background:url(../images/saas_search_field.png) top left no-repeat; vertical-align:text-bottom; }
.search_storage input.search_button { margin:0; padding:0; border:none; width:22px; height:18px; background:#FFF url(../images/saas_search_button.png) top left no-repeat; vertical-align:text-bottom; }

.left_pane_toolbar { height:18px; margin:10px 0 0 0; padding:10px; background:#FFF; border-top:1px solid #DDD; border-bottom:1px solid #DDD; font-family:"MuseoSansDell-Bold" !important; }
.left_pane_container_list { overflow:auto; background:#FFF; max-height:350px; font-size:11px; }
.left_pane_container_list ul { margin:0; padding:7px 0 0 33px; }
.left_pane_container_list ul li { list-style-image:url(../images/icons/box.png); list-style-position:outside; margin:0 0 3px 0; }
.left_pane_toolbar a, .left_pane_container_list li a { text-decoration:none; font-weight:normal; }
.left_pane_container_list li a:link, .left_pane_container_list li a:active, .left_pane_container_list li a:visited { color:#717174; text-decoration:none; }
.left_pane_container_list li a:hover, .left_pane_container_list li a:visited:hover { color:#0085c3; text-decoration:none; }
.panel_storage_status { margin:0; padding:10px; border-top:1px solid #e9e9e9; }
.panel_storage_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_upload_status { margin:0 0 10px 0; padding:10px; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }
.panel_upload_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_edit_link { float:right; margin:0; padding:0; width:25%; text-align:right; }

.storage_statusbar { position:relative; width:100%; margin-top:10px; height:16px; border:1px solid #cfced3; background-color:#fff; border-radius:5px;}
.storage_statusbar .storage_statusbar_text { position:absolute; top:2px; font-size:10px; width:200px; height:14px; text-align:center;  z-index:10px;} 
.storage_statusbar_blue { position:absolute; height:16px; left:0px; top:0px; background-color:#ddf3f1; z-index:5px; border-radius:5px;}

.panel_upload_status { margin:0 0 10px 0; padding:10px; border:1px solid #e9e9e9; background:#f6f6f6; border-radius:5px; }
.panel_upload_status h5 { margin:0; padding:0; width:70%; font-family:"MuseoSansDell-Bold" !important; }
.panel_edit_link { float:right; margin:0; padding:0; width:26%; text-align:right; }


/*  Could CSS Rules - Right Pane Contents  */
#cloud_mycontainer_content { margin-bottom:20px; }
#cloud_mycontainer_toolbar { margin-bottom:1px; height:34px; background-color:#f7f7f7; border:1px solid #ddd; border-radius:5px 5px 0 0; }
.cloud_mycontainer_toolbar_button { height:35px; width:105px; float:left; display:block; border-right:1px solid #DDD; }
.cloud_mycontainer_toolbar_button:hover { background-color:#eee; }
.cloud_mycontainer_toolbar_button img { margin: 10px 12px 0 10px; }

.cloud_mycontainer_datagrid { width:50%; border:1px solid #d8d9de; border-right:0px; font-size:11px; }
.cloud_mycontainer_datagrid_oddrow td { background-color:#f6f6f6; }
.cloud_mycontainer_datagrid_selected td { background-color:#b2daed; }
.cloud_mycontainer_datagrid_hover td { background-color:#fde0be; }

.cloud_mycontainer_datagrid th, .cloud_mycontainer_datagrid td { text-align:left; padding:4px 10px; border-right:1px solid #d8d9de; empty-cells:show; border-collapse:collapse; }
.cloud_mycontainer_datagrid th { font-weight:bold; background-color:#e4e8f1; border-bottom:1px solid #c8ccd8; font-family:"MuseoSansDell-Bold"; }
.cloud_mycontainer_datagrid td { }
.cloud_mycontainer_datagrid th img { float:right; margin:5px 0 0 0; }
.cloud_mycontainer_datagrid th a:link, .cloud_mycontainer_datagrid th a:active, .cloud_mycontainer_datagrid th a:visited { color:#000; }
.cloud_mycontainer_datagrid th a:hover, .cloud_mycontainer_datagrid th a:visited:hover { color:#0085c3; text-decoration:underline; }

.cloud_datagrid_col_icons { padding:4px; width:16px; } 
.cloud_datagrid_col_name { }
.cloud_datagrid_col_mine { }
.cloud_datagrid_col_size { text-align:right; white-space:nowrap;}
.cloud_datagrid_col_modified { }

.cloud_statusbar { position:relative; width:200px; height:16px; border:1px solid #cfced3; background-color:#ffffff; border-radius:5px; }
.cloud_statusbar .cloud_statusbar_text { position:absolute; top:2px; font-size:10px; width:200px; height:14px; text-align:center; z-index:10; }
.cloud_statusbar_blue { position:absolute; height:16px; left:0px; top:0px; background-color:#ddf3f1; z-index:5; border-radius:5px; }

#cloud_mycontainer_properties { min-width:600px; background-color:#f6f6f6; border:1px solid #d8d9de; border-radius:5px; }
.cloud_mycontainer_tabs { overflow:visible; height:33px; line-height:33px; padding-left:10px; border-bottom:1px solid #d8d9de; }
.cloud_mycontainer_tabs a { display:block; height:33px; float:left; color:#4c4d4f; padding:0px 10px; border-bottom:1px solid #d8d9de; border-right:1px solid #d8d9de; text-decoration:none; font-weight:normal; }
.cloud_mycontainer_tabs a:first-child { border-left:1px solid #d8d9de; }
.cloud_mycontainer_tabs a.on { color:#0085c3; background-color:#ffffff; border-bottom:1px solid #ffffff; }
.cloud_mycontainer_tabs a.off { color:#4c4d4f; }
.cloud_mycontainer_tabs a.off:hover { color:#0085c3; background-color: #eee; }

.cloud_mycontainer_tabs_title { float: right; display: inline; height: 33px; line-height: 33px; color: #717174; margin-right: 10px; border-bottom: 1px solid #d8d9de; }
.cloud_mycontainer_tabs_title span { font-family:"MuseoDell-Bold"; font-weight:bold; color:#000; }
.cloud_mycontainer_properties_form { width:475px; display:table; }
.cloud_mycontainer_properties_content { background-color:#ffffff; padding:20px; border-bottom:1px solid #d8d9de; overflow:visible; }
.cloud_mycontainer_properties_button { text-align:right; padding:10px; overflow:visible; float:none; }
.cloud_mycontainer_prop_label { float:left; width:200px; height:22px; line-height:22px; margin:0 10px 8px 0; vertical-align:middle !important; display:block; color:#717174; text-align:right; }
.cloud_mycontainer_prop_input { float:left; width:200px; height:22px; line-height:22px; margin:0 0 8px 0; vertical-align:middle !important; }

p.breadcrumb { margin:0 auto 3px 1px; padding:0; }
p.breadcrumb a { margin:0 5px 0 0; padding:0 10px 0 0; font-size:11px; font-weight:normal; background:url(../images/breadcrumb_separator.png) right no-repeat; }

.blue_text { color:#0085c3; }
.text_note { color:#AAA; font-size:12px; }
.text_error { color:#e51937; font-family:"MuseoSansDell-Bold" !important; }
.text_small { font-size:12px; }
.form_links_utility { font-size:12px; padding-left:7px; background:url(../images/bullet_arrow-head-right.png) 0px 5px no-repeat; }


/*  IE 7 SPECIFIC CSS RULES/HACKS  */
*+html .saas_main_nav { float:none; background: url(../images/cloud_nav_background.png) top left repeat-x; }
*+html .saas_main_nav ul { display:table; min-width:500px; }
*+html .saas_main_nav li { float:left; margin-left:0; }
*+html #cloud_mycontainer_content { margin:0 0 20px 0; width:99%; }
*+html .search_storage { padding:10px; line-height:22px; }
*+html .search_storage input.search_field { margin-top:1px; }
*+html .search_storage input.search_button { margin-top:-1px; }
*+html .left_pane_toolbar a, .left_pane_container_list li a { padding-left:5px; _padding-left:5px; }
*+html .ie7_step1 { margin:300px 0 0 0; }
*+html .ie7_step2, *+html .ie7_step3 { margin:0; }
/*  HTML Button CSS for IE 7 ONLY  */
*+html .saas_btn { padding: 8px 0 16px 0; }
*+html .btn { border:0 !important; background:none !important; margin:0 10px 0 0; padding:3px 5px 4px 5px; text-align:center; font-size:13px; height:23px; vertical-align:middle; font-weight:bold; color:#FFF; text-indent:-1px; font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; }
*+html .size_50 { background:url(../images/buttons_sprite.png) 0 0 no-repeat; width:50px; }
*+html .size_70 { background:url(../images/buttons_sprite.png) 0 -23px no-repeat !important; width:70px; }
*+html .size_90 { background:url(../images/buttons_sprite.png) 0 -46px no-repeat !important; width:90px; }
*+html .size_110 { background:url(../images/buttons_sprite.png) 0 -69px no-repeat !important; width:110px; }
*+html .size_130 { background:url(../images/buttons_sprite.png) 0 -92px no-repeat !important; width:130px; }
*+html .size_150 { background:url(../images/buttons_sprite.png) 0 -115px no-repeat !important; width:150px; }
/*
*+html .disabled { background:none; }
*+html .form_state, *+html .form_state select { margin:0 260px 10px 0; }
*+html span.btn { padding:3px 10px 4px 10px; text-align:center; }
*+html span.btn a { padding:0 10px 0 7px; text-align:center; }
*/

/*  IE 8 SPECIFIC CSS RULES/HACKS  */
@media \0screen {
.saas_main_nav { background: url(../images/cloud_nav_background.png) top left repeat-x; }
.saas_main_nav ul { background: url(../images/cloud_nav_corner-left.png) top left no-repeat; }
.saas_main_nav div.help { background: url(../images/cloud_nav_corner-right.png) top right no-repeat; }
/*  HTML Button CSS for IE 8 ONLY  */
.saas_btn { padding: 8px 0 16px 0; }
.btn { border:none background:none margin:0; padding:4px 9px 3px 9px; text-align:center; font-size:13px; height:23px; vertical-align:middle; font-weight:bold; color:#F90; text-indent:-1px; font-family:"MuseoSansDell-Bold", Arial, Helvetica, sans-serif; }
.size_50 { background:url(../images/buttons_sprite.png) 0 0 no-repeat !important; width:50px; }
.size_70 { background:url(../images/buttons_sprite.png) 0 -23px no-repeat !important; width:70px; }
.size_90 { background:url(../images/buttons_sprite.png) 0 -46px no-repeat !important; width:90px; }
.size_110 { background:url(../images/buttons_sprite.png) 0 -69px no-repeat !important; width:110px; }
.size_130 { background:url(../images/buttons_sprite.png) 0 -92px no-repeat !important; width:130px; }
.size_150 { background:url(../images/buttons_sprite.png) 0 -115px no-repeat !important; width:150px; }
.disabled { background:none; }
span.btn { padding:4px 3px 3px 0; }
span.btn a { padding:0; margin:0 20px 0 17px !important; }
span.size_50 { background:url(../images/buttons_sprite.png) 0 0 no-repeat !important; width:50px; }
span.size_70 { background:url(../images/buttons_sprite.png) 0 -21px no-repeat !important; width:70px; }
span.size_90 { background:url(../images/buttons_sprite.png) 0 -44px no-repeat !important; width:90px; }
span.size_110 { background:url(../images/buttons_sprite.png) 0 -67px no-repeat !important; width:110px; }
span.size_130 { background:url(../images/buttons_sprite.png) 0 -90px no-repeat !important; width:130px; }
span.size_150 { background:url(../images/buttons_sprite.png) 0 -113px no-repeat !important; width:150px; }
}

/*  FF 3+ SPECIFIC CSS RULES/HACKS  */
*>.cp_btn, *>.btn { -moz-border-radius:13px }

