﻿div#title
{
    display: block;
    float: left;
    text-align: left;
}
.SuccessMessage, .ErrorMessage
{
    clear: both;
    width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    color: #7AB800;
    vertical-align: middle;
    border: thick solid #7AB800;
    margin-bottom: 25px;
    padding: 10px;
}

.ErrorMessage
{
    background-color: #eeeeee;
    color: #DC5034;
    border: thick solid #DC5034;
    font-size: xx-small;
}

.AddOnServiceMessage
{
    clear: both;
    width: 98%;
    text-align: Left;
    margin-left: auto;
    margin-right: auto;
    background-color:blanchedalmond;
    color:black;
    vertical-align: middle;
    border: thick solid blanchedalmond;
    margin-bottom: 25px;
    padding: 10px;   
    border-radius: 10px 10px 10px 10px
}

.SuccessMessage .CloseButton, .ErrorMessage .CloseButton, .AddOnServiceMessage .CloseButton
{
    float: right;
}

.boxed {
  border: 2px solid black ;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/