/* ----------------------------------------------------
	Pretty Photo - "About Box" LightBox CSS
------------------------------------------------------- */
.aboutbox_wrapper { margin:0; padding:0 }

div.aboutbox .pp_top .pp_left { background: url(../images/prettyPhoto/sprite.png) -88px -53px no-repeat; } /* Top left corner */
div.aboutbox .pp_top .pp_middle { background: url(../images/prettyPhoto/contentPatternTop.png) top left repeat-x; } /* Top pattern/color */
div.aboutbox .pp_top .pp_right { background: url(../images/prettyPhoto/sprite.png) -110px -53px no-repeat; } /* Top right corner */
div.aboutbox .pp_content div.ppt { color: #000; display:none !important; }
div.aboutbox .pp_content_container .pp_left { background: url(../images/prettyPhoto/contentPatternLeft.png) top left repeat-y; } /* Content background */
div.aboutbox .pp_content_container .pp_right { background: url(../images/prettyPhoto/contentPatternRight.png) top right repeat-y; } /* Content background */
div.aboutbox .pp_content { background: #fff; } /* Content background */
div.aboutbox .pp_expand { background: url(../images/prettyPhoto/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
div.aboutbox .pp_expand:hover { background: url(../images/prettyPhoto/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
div.aboutbox .pp_contract { background: url(../images/prettyPhoto/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
div.aboutbox .pp_contract:hover { background: url(../images/prettyPhoto/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
div.aboutbox .pp_close { width: 22px; height: 22px; background: url(../images/prettyPhoto/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
div.aboutbox #pp_full_res .pp_inline { color: #000; } 
div.aboutbox .pp_loaderIcon { background: url(../images/prettyPhoto/loader.gif) center center no-repeat; } /* Loader icon */
div.aboutbox .pp_arrow_previous { background: url(../images/prettyPhoto/sprite.png) 0 -71px no-repeat; height: 22px; margin-top: 0; width: 22px; } /* The previous arrow in the bottom nav */
div.aboutbox .pp_arrow_previous.disabled { background-position: 0 -96px; cursor: default; }
div.aboutbox .pp_arrow_next { background: url(../images/prettyPhoto/sprite.png) -32px -71px no-repeat; height: 22px; margin-top: 0; width: 22px; } /* The next arrow in the bottom nav */
div.aboutbox .pp_arrow_next.disabled { background-position: -32px -96px; cursor: default; }
div.aboutbox .pp_nav { margin-top: 0; }
div.aboutbox .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }
div.aboutbox .pp_nav .pp_play { background: url(../images/prettyPhoto/sprite.png) -1px -123px no-repeat; height: 22px; width: 22px; }
div.aboutbox .pp_nav .pp_pause { background: url(../images/prettyPhoto/sprite.png) -32px -123px no-repeat; height: 22px; width: 22px; }
div.aboutbox .pp_next:hover { background: url(../images/prettyPhoto/btnNext.png) center right no-repeat; cursor: pointer; } /* Next button */
div.aboutbox .pp_previous:hover { background: url(../images/prettyPhoto/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
div.aboutbox .pp_bottom .pp_left { background: url(../images/prettyPhoto/sprite.png) -88px -80px no-repeat; } /* Bottom left corner */
div.aboutbox .pp_bottom .pp_middle { background: url(../images/prettyPhoto/contentPatternBottom.png) top left repeat-x; } /* Bottom pattern/color */
div.aboutbox .pp_bottom .pp_right { background: url(../images/prettyPhoto/sprite.png) -110px -80px no-repeat; } /* Bottom right corner */

/* ------------------------------------------------------------------------
	Pretty Photo - DO NOT CHANGE
------------------------------------------------------------------------- */
div.pp_pic_holder a:focus { outline:none; }
div.pp_overlay { background: #000; display: none; left: 0; position: absolute; top: 0; width: 100%; z-index: 9500; }
div.pp_pic_holder { display: none; position: absolute; width: 100px; z-index: 10000; }
	.pp_top { height: 20px; position: relative; }
		* html .pp_top { padding:0 20px; }
		.pp_top .pp_left { height:20px; left:0; position:absolute; width:20px; }
		.pp_top .pp_middle { height:20px; left:20px; position:absolute; right:20px; }
			* html .pp_top .pp_middle { left:0; position:static; }
		.pp_top .pp_right { height:20px; left:auto; position:absolute; right:0; top:0; width:20px; }
	.pp_content { height: 40px; }
	.pp_fade { display: none; }
	.pp_content_container { position: relative; text-align: left; width: 100%; }
		.pp_content_container .pp_left { padding-left: 20px; }
		.pp_content_container .pp_right { padding-right: 20px; }
		.pp_content_container .pp_details { float:left; margin:10px 0 2px 0; padding-bottom:10px; /*border-bottom:1px solid #ddd; background:url(../images/title_dropshadow.png) bottom left repeat-x;*/ }
			.pp_description { display:none; margin:0; }
			h3.aboutbox_title { color:#0085c3; font-size:21px; margin:0 0 5px 10px; padding:0; font-weight:normal; }
			span.aboutbox_version { color:#717174; padding-left:10px; }
			.pp_nav { clear: left; float: left; margin: 3px 0 0 0; }
				.pp_nav p { float: left; margin: 2px 4px; }
				.pp_nav .pp_play, .pp_nav .pp_pause { float: left; margin-right: 4px; text-indent: -10000px; }
				a.pp_arrow_previous, a.pp_arrow_next { display: block; float: left; height: 15px; margin-top: 3px; overflow: hidden; text-indent: -10000px; width: 14px; }
	.pp_hoverContainer { position: absolute; top: 0; width: 100%; z-index: 2000; }
	.pp_gallery { left: 50%; margin-top: -50px; position: absolute; z-index: 10000; }
		.pp_gallery ul { float: left; height: 35px; margin: 0 0 0 5px; overflow: hidden; position: relative; }
		.pp_gallery ul a { border: 1px #000 solid; border: 1px rgba(0,0,0,0.5) solid; display: block; float: left; height: 33px; overflow: hidden; }
		.pp_gallery ul a:hover, .pp_gallery li.selected a { border-color: #fff; }
		.pp_gallery ul a img { border: 0; }
		.pp_gallery li { display: block; float: left; margin: 0 5px 0 0; }
		.pp_gallery li.default a { background: url(../images/prettyPhoto/default_thumbnail.gif) 0 0 no-repeat; display: block; height: 33px; width: 50px; }
		.pp_gallery li.default a img { display: none; }
		.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next { margin-top: 7px !important; }
	a.pp_next { background: url(../images/prettyPhoto/btnNext.png) 10000px 10000px no-repeat; display: block; float: right; height: 100%; text-indent: -10000px; width: 49%; }
	a.pp_previous { background: url(../images/prettyPhoto/btnNext.png) 10000px 10000px no-repeat; display: block; float: left; height: 100%; text-indent: -10000px; width: 49%; }
	a.pp_expand, a.pp_contract { cursor: pointer; display: none; height: 20px; position: absolute; right: 30px; text-indent: -10000px; top: 10px; width: 20px; z-index: 20000; }
	a.pp_close { display: block; float: right; line-height:22px; text-indent: -10000px; margin-right:10px; }
	.pp_bottom { height: 20px; position: relative; }
	*html .pp_bottom { padding: 0 20px; }
		.pp_bottom .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }
		.pp_bottom .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }
			* html .pp_bottom .pp_middle { left: 0; position: static; }
		.pp_bottom .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }
	.pp_loaderIcon { display: block; height: 24px; left: 50%; margin: -12px 0 0 -12px; position: absolute; top: 50%; width: 24px; }
#pp_full_res { line-height: 1 !important; }
	#pp_full_res .pp_inline { text-align: left; }
		#pp_full_res .pp_inline p { margin: 0 0 15px 0; }
#pp_full_res iframe { margin:10px auto 0 10px; padding:0; width:530px; height:270px;  }
div.ppt { /*color: #fff; display: none; font-size: 17px; margin: 0 0 5px 15px; z-index: 9999;*/ display:none !important; }

/* ------------------------------------------------------------------------
	Pretty Photo - Miscellaneous CSS
------------------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/* ------------------------------------------------------------------------
	Pretty Photo - SOURCE OVER-RIDE CSS
------------------------------------------------------------------------- */
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{left:auto;position:static}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px}
div.pp_default a.pp_arrow_next{background-position:-82px -3px;left:52px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;position:relative;width:110px}
div.pp_default .pp_nav .currentTextHolder{color:#999;font-style:italic;left:75px;line-height:25px;margin:0;padding:0 0 0 10px;position:absolute;top:2px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:#FFF;}
div.facebook .pp_content_container .pp_right{background:#FFF;}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:22px}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#999;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;overflow:hidden;width:55px}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px;white-space:nowrap}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;margin:0 0 0 5px;padding:0;position:relative;white-space:nowrap}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0}
.pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;margin:0 0 5px 15px;z-index:9999}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}