﻿
.cloud-blue_banner {font-family:MuseoDell-Bold; font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 20px; padding: 14px; color: #c8edec; background-color: #0085c3; -moz-box-shadow:0px 2px 5px #bbb; -webkit-box-shadow:0px 2px 3px #bbb; box-shadow:0px 2px 3px #bbb; border-radius: 10px;}
.product_costs {color: #ffffff;}
.cloud_products {padding: 10px;}
.cloud_product {margin-bottom: 10px;}

.product_title {overflow: hidden; padding: 20px; border: 1px solid #dddddd; border-radius: 10px 10px 0px 0px;
	background-color: #f6f6f6;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f5f5f5));
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5) !important;
}

.product_icon {float: left; width: 58px; height: 58px;}
.product_description {float: left; margin-left: 20px;}
.product_description h4 {font-family: MuseoDell-Bold; font-size: 18px; font-weight: bold; margin: 0px; padding: 6px 0px 0px 0px;}
.product_description p {font-size: 13px; margin: 0px; padding: 0px;}
.product_description a {font-size: 13px; margin: 0px; padding: 0px;}

.product_footer {text-align: center; padding: 12px 10px 8px 10px; border: 1px solid #dddddd; border-top: 1px solid #ffffff; border-radius: 0px 0px 10px 10px;	
	background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #f1f1f1, #e6e6e6);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f1f1f1), to(#e6e6e6));
	background-image: -o-linear-gradient(top, #f1f1f1, #e6e6e6);
	background-image: linear-gradient(top, #f1f1f1, #e6e6e6) !important;	
}
.product_footer a.product_plan_select {display: inline; color: #0085c3; font-size: 14px; line-height: 14px; text-decoration: none;	text-shadow: 0 1px #FFF; margin: 0px auto; padding-right: 24px;}
.product_footer a.product_plan_select:hover {text-decoration: underline;}
.product_footer .plans_open {background: transparent url(/CloudConsole/Content/Images/saas_arrow_blue_down.png) no-repeat center right;}
.product_footer .plans_close {background: transparent url(/CloudConsole/Content/Images/saas_arrow_blue_up.png) no-repeat center right;}

.product_plans {display: none; padding: 18px 18px 2px 18px; background-color: #fdfdfd; border: 1px solid #dddddd; border-top: 0px;}
.product_plan {margin-bottom: 20px;}
.product_plan_title {margin-bottom: 12px; border-bottom: 1px solid #dddddd; overflow: hidden;}
.product_plan_title h5 {color: #0085c3; font-size: 24px; margin: 0px; padding: 0px; float: left;}
.product_plan_details {display: none;}
.product_plan .plan_wrapper {margin-bottom: 16px; padding: 10px; background-color: #f2f6f8; border-radius: 10px;}
.product_plan .product_plan_view {float: right; display: block; font-size: 14px; line-height: 14px; position: relative; top: 8px; padding-right: 24px;}
.product_plan .plan_open {color:#84c447; background: transparent url(/CloudConsole/Content/Images/saas_arrow_green_down.png) no-repeat center right;}
.product_plan .plan_close {color: #0085c3; background: transparent url(/CloudConsole/Content/Images/saas_arrow_blue_up.png) no-repeat center right;}

.product_plan_table {}
.product_plan_table td {color: #717174; padding: 1px 10px; vertical-align: top;}
.product_plan_table tr.product_plan_table_info td {padding: 10px;}
.product_plan_table td.plan_title {color: #0085c3; font-size: 18px; font-weight: bold;}
.product_plan_table td.col_heading{color: #000000; font-weight: bold; padding: 6px 10px; border: 1px solid #ced0d1; border-left: 0px; border-right: 0px;}
.product_plan_table td.row_heading{font-weight: bold; text-align: right;}
.product_plan_table td.col_align_right {text-align: right;}
.product_plan_table td.spacer {height: 10px;}
.product_plan_table .plan_detail_input {font-size: 12px; line-height: 14px; height: 14px; width: 40px; border: 1px solid #cdcdcd;}
.product_plan_table td.readonly_values {font-weight: bold;}